@media only screen and (max-width: 440px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .navbar div {
    border: 1px solid #eee;
    border-radius: 5px;
    margin-top: 15px;
    width: 30%;
    height: 43px;
    text-align: center;
    margin: auto;
    background-color: #279692;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
}
.navbar {
  display: flex;
  justify-content: space-around;
}
.navbar div {
  border: 1px solid #eee;
  border-radius: 5px;
  margin-top: 15px;
  width: 30%;
  height: 43px;
  text-align: center;
  margin: auto;
  background-color: #279692;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
