
 .passengers_container{
    width: 100%;
    margin-top: 1rem;
    td,th{
        text-align: center;
        
    }
    th{
        font-size: 13px;
        font-weight: 900;
        border-bottom: 1px solid #edeff1;
        padding-bottom: .5rem;
    }
    td:not(:last-child){
        border-bottom: 1px solid #edeff1;
     
        
    }
    td{
         padding: .2rem;
        font-size: 12px;
    }
    tr{
        padding: 1rem;
    }
    tr{
        margin-bottom: 10px;
    }
  }

