$primary:#e20000;
$secondary:#279692;
$borderColor:#999;
$containerColor:#ebebeb;
.container{
    padding: 2rem;
    .hotelDet_container{
        margin-bottom: 2rem;
      border-radius: 20px;
      padding: 1rem 1.5rem;
      border: 1px solid $containerColor;
        .hotelDet{
               display: flex;
               justify-content: space-between;
                .right{
                    display: flex;
                   .hotelDet-image{
                        width: 300px;
                        height: 200px;
                        overflow: hidden;
                        border:1px solid $borderColor;
                        margin-left: 1.5rem;
                        border-radius: 20px;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
    
                        }
                        
                    }
    
                    .hotelDet-names{
                       align-self: center;
                            &_star{
                                margin-bottom: .5rem;
                                width: 100%;
                                display: flex;
                               column-gap: .5rem;
                            }
    
                          
                                &_faName{
                                    
                                    font-size: 1.125rem;
                                    font-weight:900;
                                }
                                &_enName{
                                    font-size: .9rem;
                                    font-weight: 600;
                                }
                         
                        &_services{
                            width: 115px;
                            display: flex;
                            justify-content: space-between;
                            label{
                                font-weight: 800;
                                font-size: .9rem;
                            }
                            p{
                                font-size: .8rem;
                            }
                        }
                        &_zone{
                            width: 115px;
                            display: flex;
                            justify-content: space-between;
                            label{
                                font-weight: 800;
                                font-size: .9rem;
                            }
                            p{
                                font-size: .8rem;
                            }
                        }
                    }
                }
                .left{
                   .image_container{
                    border-radius: 20px;
                    padding: 0;
                    // overflow: hidden;
                    width: 100%;
                    gap: .5rem;
                       display: grid;
                       grid-template-columns: 1fr 1fr ;
                      
                       img{
                        object-fit: cover;
                        cursor: pointer;
                        border-radius: 20px;
                       }
                       .images{
                        display: grid;
                        grid-template-columns: 1fr 1fr ;
                         gap: .5rem;
                         
                       }
                   }
                }
        }

    }

    .subscription{
        font-size: 1.25rem;
        font-weight: 800;
    }

.ticket_container{
    margin-bottom: 1rem;


    .ticket{
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
      padding: .9rem 1.125rem;
      border: 1px solid $containerColor;
      background: #fff;
      transition: .5s ease-in-out;
      
      
      &:hover{
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        transition: .5s ease-in-out;
        }


       
            &_titles{
                display: flex;
                flex-direction: column;
               justify-content: space-between;
                padding: 1.125rem;
                border-left:2px dashed $borderColor ;
                margin-left: 1rem;
                &_info{
                    text-align: center;
                }
               
            }


            .ticket_flight{
                width: 100%;
                padding: 0 1rem;
                
                
                .flightDet_container{
                border-bottom :2px dashed $borderColor;
                width: 100%;
                display: flex;
                 justify-content: space-between;
              
                .flightDet{
                    flex-grow: 2;
                    &_title{
                        margin-bottom: .5rem;
                        p{
                            margin: 0;
                            padding: 0;
                            font-size: .9rem;
                            font-weight: 800;
                            text-align: center;
                        }
                    }
                    &_loc{
                          margin-bottom: .5rem;
                        padding: .5rem;
                        border-radius: 10px;
                        background-color: $containerColor;
                       
                        p{
                            margin: 0;
                            padding: 0;
                            font-size: .8rem;
                            text-align: center;
                        }
                    }
                    &_timedate{
                          margin-bottom: .5rem;
                        display: flex;
                        justify-content: center;
                        
                        span{
                            font-size: .8rem;
                        }
                        span:not(:last-child){
                            margin-left: .725rem;
                        }
                    }

                    &_hotelEnt{

                          margin-bottom: .5rem;
                        display: flex;
                      justify-content: center;
                        label{
                           
                            font-size: .8rem;
                            margin-left: .725rem;
                        }
                        p{
                        
                            font-size: .8rem;
                        }

                    }
                }
                
                .flight_company{
                    flex-grow: 8;
                    display: flex;
                    justify-content: space-between;
                   padding: .5rem 1rem 0 1rem;
                 
                    &_logo{
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        row-gap:6px;
                        transform: translateY(18px);

                        .image_container{
                            padding: 0;
                            margin: 0;
                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                            
                            overflow: hidden;
                           align-self: center;
                           img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                           }
    
                        }
                        p{
                            font-size: .9rem;
                            text-align: center;
                        }
                    }
                    &_remaintour{
                        padding-top: 2.5rem;
                        flex-grow: 8;
                        
                        p{
                            border-bottom: 1px dashed $borderColor;
                            text-align: center;
                            font-size: .9rem;
                        }
                           
                    }
                }
            }


                .roomDet_container{
                    margin-top: 1rem;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    justify-content: space-between;
                    gap: 1rem;
                   
                    .roomDetcard{
                        padding: .5rem .5rem 0 .5rem;
                      
                        border: 1px solid $borderColor;
                        border-radius: 10px;
                            &_roomnum{
                               
                                display: flex;
                                justify-content: space-between;
                                border-bottom: 2px dashed $borderColor;
                                padding-bottom: .5rem;
                                margin-bottom: .5rem;
                                label{
                                   font-size: .9rem;
                                   font-weight: 800;
                                 
                                }
                                 &_indec{
                                    width:40%;
                                    display: flex;
                                    justify-content: space-between;
                                    .in{
                                        font-size: 1rem;
                                        width: 25px;
                                        border: 1px solid $primary;
                                        border-radius:5px;
                                        color: $primary;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        cursor: pointer;
                                       
                                    }
                                    span{
                                        font-size: 1rem;
                                      
                                    }
                                    .dec{
                                        font-size: 1rem;
                                         width: 25px;
                                         border: 1px solid $primary;
                                         border-radius: 5px;
                                        color: $primary;
                                        display: flex;
                                        justify-content: center;
                                        cursor: pointer;
                                    }

                                    .dec-none{
                                        font-size: 1rem;
                                         width: 25px;
                                         border: 1px solid $borderColor;
                                         border-radius: 5px;
                                        color: $borderColor;
                                        display: flex;
                                        justify-content: center;
                                        cursor: default;
                                    }
                                   } 
                            }
                            &_price{
                                display: flex;
                               
                                justify-content: center;
                                p{
                                    align-self: center;
                                    margin: 0;
                                    padding: 0;
                                    color: $borderColor;
                                }
                                span{
                                    font-weight: bolder;
                                    font-size: .9rem;
                                  color: $secondary;
                                    margin-left: .5rem;
                                }
                            }
                    }
                }
            }


           
           
               
              
            .ticket_reserve{
                align-self: flex-start;
                 border-radius: 20px;
                 background-color: $containerColor;
                 padding: 1rem;
                .priceTitle{
                    font-size: .9rem;
                    font-weight: 800;
                    text-align: center;
                }
                &_price{
                    display: flex;
                    justify-content: center;
                    label{
                        font-weight: 800;
                        margin-left: 1rem;
                        font-size: .9rem;
                    }
                    p{
                        font-weight: 400;
                        font-size: .8rem;
                        span{
                            color: $secondary;
                            font-weight: 800;
                            font-size: 1rem;
                            margin-left: .5rem;
                        }
                    }
                }

                &_btn{
                   

                        background-color:$primary;
                       color:white;
                       width: 200px;
                       height: 40px;
                       border-radius: 4px;
                       font-size: 14px;
                       font-weight: 800;
                   
                }

            }


            
       
    }

    .roomcountDet_container{
        padding: 1rem 10rem 1rem 10rem;
        .roomcountDet{
            border: 1px solid $borderColor;
            border-radius: 20px;
            padding:.5rem 1rem .5rem 1rem;
            
            display: flex;
            justify-content: space-between;

            &_remove{
                width: 30px;
                height: 30px;
                align-self: center;
                cursor: pointer;
                svg{
                    
                    width: 100%;
                    height: 100%;
                }
            }
            p{
                text-align: center;
               margin: .4rem;
            }
            &_name{
                display: flex;
                align-items: center;
                font-weight: 800;
                P{
                    margin: 0;
                }
                
            }
            &_AdlCount{
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: .9rem;
                p:first-child{
                    font-weight: 800;
                    margin-bottom: .5rem;
                }
            }
    
            &_bedcount{
                height: 100px;
                width: 140px;
                    border: 1px solid #999;
                    padding: .5rem .2rem .5rem .2rem ;
                    border-radius: 20px;
                    font-size: 12px;
                    p:first-child{
                        font-weight: 800;
                    }
                &_count{
                    display: flex;
                    justify-content: space-between;
                    padding: 0 1.5rem 0 1.5rem;
                     .decin{
                             font-size: 1rem;
                             width: 25px;
                             height: 25px;
                             border: 1px solid $primary;
                            border-radius:5px;
                            color: $primary;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                                           
                                        }
                }
            }
        }
    }

}
}
.open{
    display: block;
    padding: 1rem 3rem 1rem 3rem;
}

.close{
     display: none;
}