$time-color: #646464;
$black: #00001f;
$costColor: #e20000;


.p-body {
  padding: 2rem 0;
   //padding: 0 2.5rem 0 2.5rem;

  .prs-responsive {
    max-width: 1366px;
    margin: 0 auto;



    .main-reserve {

      margin: 0 auto;
      padding-bottom: 1rem;
      width: 91.6%;

      .box-fix-user-reservation {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100px;
        background: rgb(255, 255, 255);
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
        z-index: 10000;

        display: flex;
        justify-content: center;
        align-items: center;

        .detail-box-fix-user-reservation {
          width: 100%;

          .p-detail-reservation {
            display: grid;
            border-radius: 20px;
            grid-template-columns: 1fr 1fr;


            .priceDet_container {


              display: flex;
              align-items: center;
              justify-content: center;

              .priceDet {
                display: flex;
                justify-content: space-between;
                column-gap: .6rem;
                align-items: center;

                div {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }

                .price-title {
                  p {
                    font-size: 15px;
                    font-weight: 600;
                    margin: 0;
                  }
                }

                .price {
                  color: $costColor;
                  P {
                    margin: 0;
                    font-size: 14px;
                    font-weight: 900;
                  }
                }

              }
            }

            .paymentoption {
              padding: .5rem;

              display: flex;
              justify-content: center;
              align-items: center;

              height: 100%;

              .payment_container {

                display: flex;
                justify-content: center;
                align-items: center;

                .payment {
                  border: 1px solid #e7e7e7;
                  border-radius: 5px;
                  padding: 1rem;
                  width: 120px;
                  height: 60px;
                  display: flex;

                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
              }
            }

            .finalprice {
              display: flex;
              align-items: center;
              justify-content: center;


              .totalprice_container {
                width: 90%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .peopleroomnum {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 100%;

                  p {
                    font-size: .8rem;
                    margin: 0;
                    margin-left: .5rem;

                  }

                  span {
                    font-weight: bolder;
                    color: #e20000;
                    font-size: 1rem;
                    margin-left: 5px;
                  }
                }

              }

            }

            .paymentbtn {
              display: flex;
              padding-top: .5rem;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              button {
                cursor: pointer;
                padding: .5rem;
                margin-bottom: .5rem;
                width: 135px;
                height: 50px;
                border-radius: 10px;
                background-color:$costColor;
                font-size: 14px;
                font-weight: 900;
                color: white;
              }

              p {
                color: #e20000;
                font-size: .8rem;
                border-bottom: 1px dashed #e20000;
                cursor: pointer;
              }
            }

          }
        }
      }

      .tourDet-container {
        border-bottom: 1px solid #C6C6C6;
        // "d-flex  align-items-center justify-content-between title-complete"
        display: flex;
        align-items: center;
        justify-content: space-between;


        padding-bottom: 0;

        .ent-ext_container {
          display: flex;
          // justify-content: space-between;
          transform: translateX(-30px);

          width: 20%;
          padding-bottom: .5rem;

          .entext {
            margin-left: 1rem;
            padding: 0 0 0 .5rem;

            .entexttitle {
              font-weight: 900;
            }


            p {
              font-size: 13px;
              text-align: center;
              margin: 0;
            }

          }

          .entext:not(:last-child) {
            border-left: 1px solid #C6C6C6;
            margin-left: .8rem;
          }
        }

        .tourDet {
          // d-flex align-items-center mt-4
          display: flex;
          align-items: center;
          margin-top: 1rem;

          .title-tour {
            color: black;
            font-weight: 700;
            font-size: 16px;
          }

        }

        .selected-hotel_conatiner {

          .selected-hotel {
            // d-flex align-items-center
            padding-right: 0;
            margin-bottom: .2rem;
            display: flex;
            align-items: center;
            justify-content: center;

            h2 {
              font-weight: 700;
              font-size: 16px;
            }

            &-names {
              margin-right: 1rem;

              h2 {
                font-size: 15px;

                font-weight: 900;
                margin: 0;
              }

              p {
                font-size: 13px;

                font-weight: 200;
                margin: 0;
              }

            }


          }
        }
      }


      .box-top-box-reserve {

        padding: 1rem 2rem;
        width: 100%;
        border-radius: 8px;

        .flight-title-container {
          // d-flex align-items-center title-top justify-content-between
          display: flex;
          align-items: center;
          justify-content: space-between;


          h3 {
            width: 40%;
            font-size: 15px;
            display: flex;
            justify-content: center;
            font-weight: 600;
            margin-bottom: 5px;
          }
        }


        .reserverform_container {
          margin-top: 0rem;
          margin-bottom: 2.2rem;
          // border: 1px solid #C6C6C6;
          padding: .5rem;
          border-radius: 8px;
          padding: 1rem;
          background-color: #ede8e8;

          .reserver-info {
            // "title-tour d-flex flex-column align-items-start text-danger mt-3"
            display: flex;
            flex-direction: column;
            align-items: start;
            color: #e20000;

            font-size: 15px;

            span {
              font-size: 13px;
            }
          }


          .set-info-supervisor {


            margin: 12px 0;
            padding: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;


            .item-form {
              width: 24%;

              .inp-form {
                width: 100%;
                background-color: white;
                padding: 0 8px;
                display: flex;
                align-items: center;
                border: 1px solid #cfd3d8;
                position: relative;
                height: 2.25em;
                border-radius: 8px;
                box-sizing: border-box;
                font-size: 14px;
                outline: none;

                svg {
                  position: absolute;
                  left: 10px;
                }

                img {
                  top: 30px !important;
                }

                select {
                  font-weight: 600;
                  font-size: 15px;
                  color: #676767;
                  border: none;
                  outline: none;
                  width: 100%;
                  background: white;
                }

                input {
                  font-weight: 600;
                  font-size: 14px;
                  color: #4d4b4b;
                  border: none;
                  outline: none;
                  width: 100%;
                  height: 100%;


                  &::placeholder {
                    font-weight: 600;
                  }
                }


              }

              small {
                color: red;
                font-size: 10px;
              }

              p{
                color: red;
                font-size: 10px;
                padding: 0;
                margin: 0;
              }

            }
          }
        }


        .rules {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: flex-start;
          margin-top: 3rem;

          input {
            width: 15px;
            height: 15px;
            position: relative;
            top: -5px;
          }

          p {
            text-align: justify;
            font-size: 14px;
            color: black;
            margin-right: 8px;
            line-height: 25px;
          }

          span{
            color: #e20000;
            margin: 0 .5rem;
            font-weight: 600;
          }
        }

      }

    }

  }



  .box-top-box-reserve2 {
    background-color: rgb(185, 185, 185);
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    display: flex;
    margin: 12px 0;
    height: 310px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
  }

















}



@media only screen and (max-width: 868px) {

  .box-top-box-reserve{
    padding: 1rem 0 !important;
  }
  .tourDet-container {
    flex-direction: column !important;
    padding-left: 0 !important;

    .selected-hotel_conatiner {
      width: 100% !important;
      display: flex;
      justify-content: space-between;

      h2 {
        font-size: 14px !important;
      }
    }

    .ent-ext_container {
      width: 100% !important;
      margin-top: 1rem;
      transform: translateX(0px) !important;

      .entext {
        width: 50% !important;
        margin: 0 !important;

        .entexttitle {
          font-size: 12px !important;
          color: #151515 !important;
        }

        p {
          font-size: 11px;
          color: #999;
        }
      }
    }
  }

  .set-info-supervisor {
    padding: 0 !important;

    .item-form {
      width: 49% !important;
      margin-top: 6px;

      input {
        font-size: 12px !important;
      }
    }
  }

  .reserver-info {
    span {
      font-size: 12px !important;
      margin-top: 8px;
    }

    strong {
      font-size: 14px;
    }
  }

  .box-fix-user-reservation {
    height: auto !important;
    padding: 10px !important;

    .p-detail-reservation {

      //grid-template-columns: 1fr !important;

      .priceDet_container {
        width: 100% !important;


        .priceDet {
          width: 100% !important;
          justify-content: space-between !important;
display: block !important;
          .price {
            margin-top: 5px;
            p {
              font-size: 15px !important;
            }
          }
        }
      }
    }

    .totalprice_container {
      flex-direction: row !important;
      width: 100% !important;
      justify-content: space-between !important;
      margin-top: 8px;

      .peopleroomnum {
        width: auto !important;

        p {
          font-size: 12px !important;
        }

        span {
          font-size: 12px !important;
        }
      }
    }
  }
}
