.message_con{
  width: 100vw;
  height: 100vh;
  background-color: rgba(203, 203, 203, 0.47);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  .message{
    max-width: 500px;
    height: auto;
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius:20px ;
    span{
      font-size: 14px;
      margin-left: 5px;

    }
    p{
      margin: 20px 0;
      font-size: 15px;
    }
    .paymentbtn {
      display: flex;
      padding-top: .5rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    margin-top: 20px;
      button {
        padding: .5rem;
        margin-bottom: .5rem;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        background-color: #069e2c;
        font-size: .8rem;
        font-weight: 900;
        color: white;
      }

      p {
        color: #e20000;
        font-size: .8rem;
        border-bottom: 1px dashed #e20000;
        cursor: pointer;
      }
    }
  }
}

.UpadateContainer{
  position: absolute;
  z-index: 100000;
  width: 100%;
  height: 100%;
  background-color: rgba(53, 53, 53, 0.28);
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .updatePass{
    padding: 1.5rem;
    border-radius: 20px;
    margin-top: 3rem;
    width: 900px;
    height: auto;
    background-color: white;

    &_con{
      height: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
}





.reserveinfo_container {
  padding: 0rem 8rem 0rem 8rem;

  .tourDet-container {
    border-bottom: 1px solid #C6C6C6;
    // "d-flex  align-items-center justify-content-between title-complete"
    display: flex;
    align-items: center;
    justify-content: space-between;


    padding-bottom: 0;

    .ent-ext_container {
      display: flex;
      // justify-content: space-between;
      transform: translateX(-30px);

      width: 20%;
      padding-bottom: .5rem;

      .entext {
        margin-left: 1rem;
        padding: 0 0 0 .5rem;

        .entexttitle {
          font-weight: 900;
        }


        p {
          font-size: 13px;
          text-align: center;
          margin: 0;
        }

      }

      .entext:not(:last-child) {
        border-left: 1px solid #C6C6C6;
        margin-left: .8rem;
      }
    }

    .tourDet {
      // d-flex align-items-center mt-4
      display: flex;
      align-items: center;
      margin-top: 1rem;

      .title-tour {
        color: black;
        font-weight: 700;
        font-size: 16px;
      }

    }

    .selected-hotel_conatiner {

      .selected-hotel {
        // d-flex align-items-center
        padding-right: 0;
        margin-bottom: .2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        h2 {
          font-weight: 700;
          font-size: 16px;
        }

        &-names {
          margin-right: 1rem;

          h2 {
            font-size: 15px;

            font-weight: 900;
            margin: 0;
          }

          p {
            font-size: 13px;

            font-weight: 200;
            margin: 0;
          }

        }


      }
    }
  }


  .detail-box-fix-user-reservation {
    width: 100%;
    position: static;
    bottom: 12px;
    left: 9.9%;
    margin-top: 35px;
    .p-detail-reservation {
      display: grid;
      border-radius: 20px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      background-color: white;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      border: 1px solid #e0e0e0;
      padding: .5rem 1rem .5rem 1rem;

      .priceDet_container {
        padding: .5rem;
        border-left: 1px dashed black;
        display: flex;
        align-items: center;
        justify-content: center;

        .priceDet {
          p {
            font-size: 12px;
            margin-bottom: 0;

            span {
              font-weight: 900;
              font-size: 14px;
            }
          }
        }
      }

 

      .finalprice {
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px dashed black;

        .totalprice_container {
          width: 80%;
          padding: .4rem;
          border: 1px solid #e7e7e7;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          p {
            font-size: .8rem;
            margin: 0;

            span {
              font-weight: bolder;
              color: #e20000;
              font-size: 1rem;
              margin-left: .2rem;
            }
          }

        }

      }

      .paymentbtn {
        display: flex;
        padding-top: .5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button {
          padding: .5rem;
          margin-bottom: .5rem;
          width: 150px;
          height: 50px;
          border-radius: 10px;
          background-color: #069e2c;
          font-size: .8rem;
          font-weight: 900;
          color: white;
        }

        p {
          color: #e20000;
          font-size: .8rem;
          border-bottom: 1px dashed #e20000;
          cursor: pointer;
        }
      }

    }
  }


  .rooms {
    .box-room {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

      //  mt-3
      margin-top: 2rem;
      // border: 1px solid #dee2e6;
      padding: 1.5rem;
      border-radius: 8px;

      .passengers_container {
        padding-right: 4rem;
        padding-left: 4rem;

        .titles {
          margin-top: 1rem;
          display: flex;
          justify-content: space-between;

          p {
            font-size: .9rem;
          }
        }
      }

      &-Det {
        // w-100 d-flex flex-column-mobi justify-content-between align-items-center posi-relative
        border-bottom: 2px solid #000;
        padding-bottom: .3rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &-name {
          // "d-flex align-items-center"
          display: flex;
          align-items: center;

          .circle {
            // "icon-circle text-base font-size-9"
            width: 9px;
            height: 9px;
            border-radius: 50%;
            background-color: #e20000;
            margin-left: 12px;
          }

          h2 {
            color: #404040;
            font-weight: 600;
            font-size: 15px;
            align-self: center;
            margin: 0;


          }
        }
      }
    }
  }
}


@media only screen and (max-width: 868px) {

  .reserveinfo_container{
    .tourDet-container {
      flex-direction: column !important;
      padding-left: 0 !important;

      .selected-hotel_conatiner {
        width: 100% !important;
        display: flex;
        justify-content: space-between;

        h2 {
          font-size: 14px !important;
        }
      }

      .ent-ext_container {
        width: 100% !important;
        margin-top: 1rem;
        transform: translateX(0px) !important;

        .entext {
          width: 50% !important;
          margin: 0 !important;

          .entexttitle {
            font-size: 12px !important;
            color: #151515 !important;
          }

          p {
            font-size: 11px;
            color: #999;
          }
        }
      }
    }
  }
  .UpadateContainer{
    .updatePass{}
  }
  .detail-box-fix-user-reservation {
    position: unset !important;
    width: 100% !important;
    margin-top: 12px !important;
  }

  .priceDet_container,
  .paymentoption,
  .finalprice {
    border: none !important;
  }




  .reserveinfo_container {
    padding: 1rem !important;
    padding-top: 7rem !important;
  }

  .p-detail-reservation {
    display: flex !important;
    flex-direction: column !important;
    border: none !important;

    .priceDet_container {
      .priceDet {
        width: 100%;

        span {
          display: none;
        }
      }
    }
  }

  .totalprice_container {
    width: 100% !important;
    border-radius: 10px;
    margin: 5px 0;

    p {
      margin: 4px 0 !important;
      font-size: 13px !important;
    }
  }
}

.success-message {
  margin: 10px 0;
  width: 100%;
  border: 2px solid #4BB543;
  background-color: #4bb5435f;
  border-radius: 10px;
  padding: 8px;
  // margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 4px;

  p {
    text-align: justify;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 900;
  }
}

     .paymentoption {
        padding: .5rem;
        // border-left: 1px dashed black;
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;

        .payment_container {

          display: flex;
          justify-content: center;
          align-items: center;

          .payment {
            border: 1px solid #e7e7e7;
            border-radius: 5px;
            padding: 1rem;
            width: 120px;
            height: 60px;
            display: flex;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }