
.p-sidebar {
  position: sticky;
  top: 10rem;
  height: fit-content;
  border: 1px solid  #dee2e6;
  border-radius: 10px;
  overflow: hidden;
  width: auto !important;

  .btn-container{

    display: flex;
    justify-content: center;
    //padding-top: 10px;
    margin-bottom: 10px;
    button{
      background-color: #e20000;
      color: white;
      width: 80px;
      height: 35px;
      border-radius: 4px;
      font-size: 12px;
      padding: .5rem;
      font-weight: 600;

    }
  }
  .sidebarcontainer {


    .sidebar {
      height: 100%;
      padding: 1rem;
      background-color: white;
      .hotelSearchInput {
        margin-bottom: 1rem;
        width: 100% !important;


        //padding: 1rem;
        .filter_type {
          display: flex;
          justify-content: space-between;

          p {
            margin: 0;
            font-size: 12px;
          }

          display: flex;
          align-items: center;

          padding: 1rem;
          background-color: #f3f3f3;

          svg {
            margin-left: 10px;
          }

          .collapse_btn {
            //transform: rotate(90deg);
            width: 25px;
            height: 25px;
            background-color: #137cb6;
            display: flex;
            align-items: center;
            border-radius: 5px;
            justify-content: center;

            svg {
              fill: white !important;
              margin: 0;

            }
          }

        }


        select {
          border: 1px solid #cfd3d8;
          border-radius: 0.25rem;
          height: 45px;
          box-sizing: border-box;
          padding: 0 !important;
          font-size: 14px;
          width: 100%;
          outline: none;
        }

        .inputContainer {
          overflow-y: hidden;
          width: 100%;
          input {
            border: 1px solid #137cb6;
            padding: 1rem;
            border-radius: 0.25rem;
            height: 45px;
            font-size: 14px;
            width: 100%;
            outline: none;
            margin: 0;

            &:focus {
              border: 2px solid black;
            }
          }
        }

      }


    }

    input[type="text"]{
      border: 1px solid #cfd3d8;
    }
    select{
      border: 1px solid #cfd3d8;
    }

    .checkboxcontainer {
      margin-bottom: 10px;
      width: 100%;
      display: flex;
      align-items: center;

      p {
        font-size: 12px;
        font-weight: bolder;
        margin: 0;
        margin-right: 6px;
      }



      input {
        margin-left: .4rem !important;
        cursor: pointer;
      }

      input[type="checkbox"] {
        padding: 0;
        appearance: none;
        background-color: #fff;
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 20px;
        height: 20px;
        border: 0.15em solid #279692;
        border-radius: 0.15em;
        transform: translateY(-0.095em);
        display: grid;
        place-content: center;
      }

      input[type="checkbox"]::before {
        content: "";
        width: 10px;
        height: 10px;
        transform: scale(0);
        border-radius: 2px;
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em #279692;
      }

      input[type="checkbox"]:checked::before {
        transform: scale(1);
      }
    }
  }

}


@media only screen and (max-width: 868px) {

  .p-sidebar {
    height: 100vh !important;
    width: 100% !important;
    position: absolute !important;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: rgba(65, 65, 65, 0.57) !important;

    .sidebarcontainer {
      width: 100% !important;
      height: 100% !important;

      .sidebar {
        position: fixed;
        right: -400px;
        top: 0;
        padding: 6rem .5rem;

        background-color: white;
        height: 100%;
        width: 70%;

        .hotelSearchInput {
          margin-bottom: 1rem;
          width: 100% !important;


          //padding: 1rem;
          .filter_type {
            display: flex;
            justify-content: space-between;

            p {
              margin: 0;
              font-size: 12px;
            }

            display: flex;
            align-items: center;

            padding: 1rem;
            background-color: #f3f3f3;

            svg {
              margin-left: 10px;
            }

            .collapse_btn {
              //transform: rotate(90deg);
              width: 25px;
              height: 25px;
              background-color: #137cb6;
              display: flex;
              align-items: center;
              border-radius: 5px;
              justify-content: center;

              svg {
                fill: white !important;
                margin: 0;

              }
            }

          }


          select {
            border: 1px solid #cfd3d8;
            border-radius: 0.25rem;
            //position: relative;
            height: 45px;
            box-sizing: border-box;
            padding: 0 !important;
            //position: relative;
            font-size: 14px;
            width: 100%;
            outline: none;
          }

          .inputContainer {
            overflow-y: hidden;
            width: 100%;

            input {
              border: 1px solid #999;
              padding: 1rem;
              border-radius: 0.25rem;
              height: 45px;
              font-size: 14px;
              width: 100%;
              outline: none;
              margin: 0;

              &:focus {
                border: 2px solid black;
              }
            }
          }

        }


      }

      .checkboxcontainer {
        width: 100%;
        display: flex;

        .checkbox {
          margin-left: 1rem;
          width: 20px;
          height: 20px;
        }

        p {
          font-size: 12px;
        }
      }

    }
  }

}

.collapseItem {
  height: auto;
  transition: 1s ease-in;
}

.btnFilter {
  width: 100px;
  border-radius: 5px;
  height: 40px;
  color: #fff;
  background: #e20000;
}

.p-sidebar {
  width: 25%;
}
