$costColor: #e20000;
.container {
  margin-bottom: .725rem;
  background-color: #ede8e8;
  padding: 1rem;
  // padding-bottom: 1.5rem;
  border-radius: 8px;

  .personDet {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;

    .price-fix {
      // position: absolute;
      // left: 0;
      // background: #818181;
      // z-index: 50;
      // top: 0;
      padding: 4px 20px;
      // border-radius: 0 0 15px 0;
      display: flex;
      align-items: center;

      p {
        color: $costColor;
        font-size: 14px;
        font-weight: 900;
        margin: 0;

      }

      small {
        color: black;
        font-size: 11px;
        margin-right: 4px;
        font-weight: 800;
      }
    }

    .label-fix-gray {
      font-size: 18px;
      font-weight: bold;

      // transform: translateY(-36px);
      // right: 0;
      // top: 37px;
      // z-index: 50;
      // background: #279692;
      color: black;
      padding: 4px 10px;
      border-radius: 4px;
      font-size: 15px;
      // margin-left: 2rem;

      small {
        font-size: 10px;
        font-weight: 200;
      }
    }


  }

  .form-container2 {
    display: grid;
    grid-template-columns: .75fr 1fr 1fr .75fr 1fr 1fr 1fr 1fr;
    column-gap: 2px;

    .item-form {
      margin-left: 1rem;
      margin-top: 1px;

      .inp-form {
        height: 2em;
        border-radius: 8px;

        width: 100%;
        background-color: white;
        // border-radius: 10px;
        border: 1px solid #e2e8f0;
        // height: 58px;
        padding: 0 8px;
        position: relative;
        display: flex;
        align-items: center;

        svg {
          position: absolute;
          left: 10px;
        }

        img {
          top: 30px !important;
        }

        &:after {
          content: '';
          position: absolute;
          width: 99%;
          bottom: 0.5px;
          border-radius: 20px;
          right: 0;
        }


        select {
          font-weight: 600;
          font-size: 12px;
          color: #676767;
          border: none;
          outline: none;
          width: 100%;
          background: white;
        }

        input {
          font-weight: 600;
          font-size: 12px !important;
          color: #4d4b4b;
          border: none;
          outline: none;
          width: 100%;

          &::placeholder {
            font-weight: 600;
          }
        }
      }

      small {
        color: red;
        font-size: 10px;
      }
    }
  }

  .form-container {
    display: grid;
    grid-template-columns: .75fr 1fr 1fr .75fr 1fr 1fr 1fr;
    column-gap: .5rem;

    .item-form {
      margin-left: 1rem;
      margin-top: 1px;

      .inp-form {
        height: 2em;
        border-radius: 8px;

        width: 100%;
        background-color: white;
        // border-radius: 10px;
        border: 1px solid #e2e8f0;
        // height: 58px;
        padding: 0 8px;
        position: relative;
        display: flex;
        align-items: center;

        svg {
          position: absolute;
          left: 10px;
        }

        img {
          top: 30px !important;
        }

        &:after {
          content: '';
          position: absolute;
          width: 99%;
          bottom: 0.5px;
          border-radius: 20px;
          right: 0;
        }


        select {
          font-weight: 600;
          font-size: 12px;
          color: #676767;
          border: none;
          outline: none;
          width: 100%;
          background: white;
        }

        input {
          font-weight: 600;
          font-size: 12px !important;
          color: #4d4b4b;
          border: none;
          outline: none;
          width: 100%;

          &::placeholder {
            font-weight: 600;
          }
        }
      }

      small {
        color: red;
        font-size: 10px;
      }
    }
  }

}


@media only screen and (max-width: 900px){
  .form-container2 ,.form-container{
    grid-template-columns: 1fr 1fr !important;
    gap: 10px;
    .item-form{
      width: 100%;
      margin: 0 !important;
    }
  }
  .box-room-Det-name p{
    font-size: 14px;
    margin-bottom: 0;
    position: relative;
    top: 5px;
  }
  .box-room{
    padding: 12px 0 !important;
  }
  .label-fix-gray{
    font-size: 12px !important;
  }
  .price-fix{
    padding: 0 !important;
  }
}



@media only screen and (min-width: 901px){
  .label-fix-gray{
    font-size: 15px !important;
  }
}
