.box-top-box-reserve2 {
  background-color: rgb(185, 185, 185);
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  display: flex;
  margin: 12px 0;
  height: 192.5px;
  width: 100%;
  justify-content: flex-end;
  overflow: hidden;


}