.box-top-box-reserve2 {
  background-color: rgb(185, 185, 185);
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  display: flex;
  margin: 12px 0;
  height: 192.5px;
  width: 100%;
  justify-content: flex-end;
  overflow: hidden;


}

.box-top-box-reserve3 {
  background-color: rgb(185, 185, 185);
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  display: flex;
  margin: 12px 0;
  height: 420px;
  width: 100%;
  justify-content: flex-end;
  overflow: hidden;


}.box-top-box-reserve4 {
  background-color: rgb(185, 185, 185);
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  display: flex;
  margin: 12px 0;
  height: 230px;
  width: 100%;
  justify-content: flex-end;
  overflow: hidden;


}
.box-top-box-reserve5 {
  background-color: rgb(185, 185, 185);
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  display: flex;
  margin: 12px 0;
  height: 82px;
  width: 100%;
  justify-content: flex-end;
  overflow: hidden;


}.box-top-box-reserve6 {
  background-color: rgb(185, 185, 185);
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  display: flex;
  margin: 12px 0;
  height: 100vh;
  width: 100%;
  justify-content: flex-end;
  overflow: hidden;


}.box-top-box-reserve7 {
  background-color: rgb(185, 185, 185);
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  display: flex;
  margin: 12px 0;
  width: 100%;
  justify-content: flex-end;
  overflow: hidden;


}
