@font-face {
  src: url("/public/Font/en-font/BebasNeue-Regular.ttf");
  font-family: en-font;
}

.title-page {
  font-family: 'IranBold' !important;
  font-size: 18px;
  margin-top: 1rem;
  text-align: right;
  border-bottom: 2px solid #dbdbdb;
  padding-bottom: 1rem;
}
.title-page-sales-report{
  font-family: 'IranBold' !important;
  font-size: 18px;
  margin-top: 1rem;
  text-align: right;
  border-bottom: 2px solid #dbdbdb;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h6{
    margin-bottom: 0;
  }
}

.header-title {
  font-size: 25px;
  font-weight: 700;
  font-family: BYekan !important;
}

.input {
  font-size: 15px;
  font-family: BYekan !important;
  border: 2px solid #eee;
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  padding: 4px 8px;
  border-radius: 6px;
  font-weight: 600;
  width: 5rem;

  input {
    height: 33px;
    border: none;
    outline: none;

  }
}

.header-input {
  font-family: BYekan !important;
  display: flex;
  width: 50%;
  justify-content: flex-end;
  margin-top: -40px;
  margin-right: 600px;
}

.list-title {
  font-size: 18px;
  text-align: center;
  font-family: BYekan !important;
}

.title-table {
  font-size: 13px;
  text-align: center;
  font-family: IranBold !important;
  margin-top: 8px;
  margin-bottom: 8px;
}

.header-buttn {
  font-family: BYekan !important;

  button {
    background-color: #279692;
    border-radius: 8px;
    width: 105px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
  }
}

.title {
  font-size: 25px;
  font-family: BYekan !important;
}

.tablerow:nth-of-type(odd) {
  background-color: #eee;

  &:hover {
    cursor: pointer;
  }
}

.tablerowfont {
  font-family: BYekan !important;
  h6{
    font-size: 13px;
  }
}

.name-leader {
  font-size: 14px !important;
}

.id {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff;
  font-size: 12px !important;
  font-family: 'IranBold' !important;
}

.date {
  font-size: 13px;
  font-weight: 600;

  svg {
    margin-left: 8px;
  }
}

.airline {
  font-size: 13px;
  font-weight: 600;

  svg {
    margin-left: 8px;
  }
}

.normal-size {
  font-size: 14px;
  font-family: 'BYekan' !important;
  font-weight: 600;
}

//.en-font {
//  font-family: 'en-font' !important;
//  font-weight: 600;
//  font-size: 14px;
//}

.style-number-view-item {
  font-family: 'IranBold' !important;
  width: 100%;
}

.child-style-number-view-item {
  width: 100%;
  display: flex !important;
  justify-content: flex-end;

  p {
    font-family: 'IranBold' !important;
    margin: 0;
    padding: 0;

  }

}

.parent-buttons {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: end;
  z-index: 100;

  
}
.button {
    width: auto;
    height: 40px;
    border-radius: 10px;
    color: #fff;
    background-color: #279692;
    border: 2px solid #279692;
    padding: 0 10px;
    font-family: 'BYekan' !important;
    transition: 0.5s all;
    font-size: 14px;
    margin-right: 5px;
    margin-left: 5px;
    &:hover {
      transition: 0.5s all;
      color: #279692;
      background-color: #fff;
    }
    &:active {
      transition: 0.5s all;
      color: #279692;
      background-color: #fff;
    }
  }
  .details {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    color: #fff;
    background-color: #279692;
    border: 2px solid #279692;
    transition: 0.5s all;
    font-size: 9px;
    margin-right: 15px;
    &:hover {
      transition: 0.5s all;
      color: #279692;
      background-color: #fff;
    }
    &:active {
      transition: 0.5s all;
      color: #279692;
      background-color: #fff;
    }
  }
.active {
  transition: 0.5s all;
  color: #279692;
  background-color: #fff;
  border: solid 1px #279692;
  width: auto;
  height: 40px;
  border-radius: 10px;
  padding: 0 10px;
  font-family: 'BYekan' !important;
  transition: 0.5s all;
  font-size: 14px;
  margin-right: 5px;
  margin-left: 5px;  
}

.header-parent-sales-report{
  width: 2200px;
  height: 50px;
  background-color: #eee;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-content: center;
  padding: 0 12px;
  span{
    text-align: center;
  }
}
.body-search-report{
  width: 2200px;
  height: 20px;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-content: center;
  padding: 0 12px;
  input{
    border: 2px solid #dbdbdb;
    border-radius: 5px;
    padding: 0 8px;
    width: 90%;
  }
}
.body-parent-report{
  width: 2200px;
  height: 60px;
  border-bottom: 2px dashed #dbdbdb;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 0 12px;
  place-content: center;
  .id{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    background-color: #999;
  }
  .price-order{
    strong{
      font-size: 16px;
      font-family: 'IranBold' !important;
    }
    small{
      font-size: 13px;
      margin-right: 4px;
    }
  }
}
.header-parent-sales-report-two{
  width: 2500px;
  height: 60px;
  background-color: #eee;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-content: center;
  padding: 0 12px;
}
.body-search-report-two{
  width: 2500px;
  height: 60px;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-content: center;
  padding: 0 12px;
  input{
    border: 2px solid #dbdbdb;
    border-radius: 5px;
    padding: 0 8px;
    width: 90%;
  }
}
.body-parent-report-two{
  width: 2500px;
  height: 60px;
  border-bottom: 2px dashed #dbdbdb;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 0 12px;
  place-content: center;
  .id{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    background-color: #999;
  }
  .price-order{
    strong{
      font-size: 16px;
      font-family: 'IranBold' !important;
    }
    small{
      font-size: 13px;
      margin-right: 4px;
    }
  }
}
.parent-sales-report{
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  overflow-y: hidden;
  height: auto;
  padding-bottom: 2rem;

}

//reserve
.header-parent-sales-report-reserve{
  width: 2200px;
  height: 60px;
  background-color: #eee;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-content: center;
  padding: 0 12px;
}
.body-search-report-reserve{
  width: 2200px;
  height: 60px;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-content: center;
  padding: 0 12px;
  input{
    border: 2px solid #dbdbdb;
    border-radius: 5px;
    padding: 0 8px;
    width: 90%;
  }
}
.body-parent-report-reserve{
  width: 2200px;
  height: 60px;
  border-bottom: 2px dashed #dbdbdb;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 0 12px;
  place-content: center;
  .id{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    background-color: #999;
  }
  .price-order{
    strong{
      font-size: 16px;
      font-family: 'IranBold' !important;
    }
    small{
      font-size: 13px;
      margin-right: 4px;
    }
  }
}



//transaction
.header-parent-sales-report-transaction{
  width: 2200px;
  height: 60px;
  background-color: #eee;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-content: center;
  padding: 0 12px;
}
.body-search-report-transaction{
  width: 2200px;
  height: 60px;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-content: center;
  padding: 0 12px;
  input{
    border: 2px solid #dbdbdb;
    border-radius: 5px;
    padding: 0 8px;
    width: 90%;
  }
}
.body-parent-report-transaction{
  width: 2200px;
  height: 60px;
  border-bottom: 2px dashed #dbdbdb;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 0 12px;
  place-content: center;
  .id{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    background-color: #999;
  }
  .price-order{
    strong{
      font-size: 16px;
      font-family: 'IranBold' !important;
    }
    small{
      font-size: 13px;
      margin-right: 4px;
    }
  }
}
