.aboutuscontainer{
  padding: 8rem;
.about{
  margin-bottom: 2rem;
  p{
    font-size: 15px;
    text-align: justify;
    line-height: 30px;
    color:#646564 ;
  }
  h5{
    color: #e20000;
    font-weight: 600;
  }
}
}

@media only screen and (max-width: 868px) {
  .aboutuscontainer{

  padding: 8rem 1.5rem 0 1.5rem !important;
  }
}
