@media only screen and (max-width: 868px) {
    .p-available {
        flex-direction: column;



        .content {
            width: 100% !important;
            margin: 12px 0 1rem 0 !important;
            .search-header{
                width: 100%;
                height: 50px;
                background-color: #ebebeb;
                border-radius: 512px;
                padding: 12px;
                display: flex;
                justify-content: space-between;
                .travelinfo{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    column-gap: 5px;
                    p{
                        font-size: 13px;
                        margin: 0;
                        padding: 0;
                    }
                    label{
                        font-size: 13px;
                    }
                }
            }

            .hotelContainer {
                box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
                flex-direction: column;
                margin-top: 12px !important;
                cursor: pointer;

                //.imageContainer {
                //    width: auto !important;
                //    height: auto !important;
                //    margin-left: 0 !important;
                //
                //    img {
                //        width: 105px !important;
                //        height: 105px !important;
                //        border-radius: 50%;
                //    }
                //}

                .hotelDetprice{
                    flex-direction: column;
                    padding: 0px !important;
                    align-items: flex-start !important;

                    .hotelNameDetail {
                            // width: 63% !important;
                            padding: 10px 15px !important;
                            .nameCon{
                                display: flex;
                            }


                            .enName {
                                margin-top: 8px !important;
                            }

                            h2 {
                                font-size: 13px !important;
                            }

                            .pStar {
                                svg {
                                    width: 15px !important;
                                    height: 15px !important;
                                }
                            }

                            .services {
                                margin-top: 6px !important;
                            }
                        }

                        .priceandbtnContainer {
                            background: #f2f2f2;
                            border-radius: 10px;
                            padding: 14px 20px !important;
                            width: 100%;
                            margin-top: 8px;
                            display: flex;
                            align-items: center;

                            .btnContainer{
                                a{
                                    width: 150px !important;
                                }
                            }


                            .priceTitle {
                                font-size: 13px !important;
                                white-space: nowrap;
                            }

                            strong {
                                font-size: 16px !important;
                            }

                            span {
                                font-size: 12px !important;
                            }
                        }

                }

            }

        }
    }
}

.main-section {
    padding-top:6rem;
    background-color: white;
    min-height: 100vh;
    max-width: 1366px;
    margin: 0 auto;

    .searchContainer {
        padding: 0 2.7rem;
        position: relative;
        bottom: 40px;
    }

    .menubarcontainer {

        width: 100%;
        height: 60px;
        background-color: white;
        position: fixed;
        z-index: 1000;
        bottom: 0;
        right: 0;
        padding: 1rem 4rem;

        .menubar {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .menubarItem {
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    font-size: 12px;

                }

            }

        }
    }


    .hotels {
        background-color: white;
        min-height: 100vh;
        padding: 0 2.5rem;
        //max-width: 1366px;
        //margin: 0 auto;
        display: flex;
        //padding: 0 2rem;



        .p-available {
            width: 80%;
            margin: 0 auto;
            display: flex;
            margin-top: 1rem;
            border-radius: 5px;
            transform: translateY(-40px);


            .pStar {
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                svg {
                    margin: 0 1px;
                }

            }


            .nameCon {
                display: block !important;

                .faName {
                    font-weight: 600 !important;
                    font-size: 15px !important;
                    color: #151515;
                    // margin: 5px 0 !important;
                    //font-family: IranBold;

                }

                .enName {
                    font-weight: 500;
                    font-size: 12px !important;
                    color: #999;
                    // margin-top: 4px;

                }
            }



            .content {
                width: 100%;
                margin-left: 1rem;
                border-radius: 8px;

                .loader-container {

                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                }

                .err {
                    padding-top: 2rem;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    border: 2px solid #f0f0f0;
                    border-radius: 10px;

                    p {
                        font-weight: 600;
                        margin-top: 1rem;
                    }

                    .image-container {
                        width: 250px;
                        height: 250px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .hotelContainer:not(:last-child) {
                    margin-bottom: 1rem !important;
                }


                .hotelContainer {
                    display: flex;
                    // justify-content: space-between;
                    overflow: hidden;
                    // padding: 1rem 1.2rem;
                    border: 1px solid #ebebeb;
                    background: #fff;
                    border-radius: 20px;
                    height: 190px;
                    transition: .5s ease-in-out;
                    .hotelDetprice{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        padding: 30px 0px 30px 10px;

                            .priceandbtnContainer {

                                    padding: 0 10px;

                                    p {
                                        text-align: center;
                                    }

                                    .price {
                                        font-size: 15px;
                                        font-weight: 600 !important;
                                        //color: #f0b51d;
                                    }

                                    .btnContainer {
                                        width: 100%;
                                        display: flex;
                                        justify-content: center;

                                        a {
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            background-color: #e20000;
                                            color: white;
                                            width: 185px;
                                            height: 45px;
                                            border-radius: 4px;
                                            font-size: 13px;
                                        }
                                    }
                                }

                        .hotelNameDetail {
                                padding: 2px 0;
                                margin-top: 2px;





                                .services {
                                    display: flex;
                                    margin-top: 15px !important;

                                    label {
                                        // margin: 0 8px;
                                        padding: 0;
                                        font-weight: 700px;
                                        font-size: 12px;
                                    }

                                    p {
                                        margin: 0;
                                        font-size: 11px;
                                        padding: 0;
                                        font-weight: 600;

                                    }
                                }

                            }
                    }

                    &:hover {
                        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
                        transition: .5s ease-in-out;


                    }

                    .hotelDetail {
                        display: flex;
                        height: 100%;
                        justify-content: space-between;
                        align-items: center;
                        // padding: 1rem 1.2rem;
                        .imageContainer {
                            margin-left: 2rem;
                            display: inline-block;
                            position: relative;
                            width: 300px;
                            height: 100%;
                            overflow: hidden;
                            //border-radius: 50%;
                            transition: 0.5s all;


                            img {
                                width: 100%;
                                height: 200px;
                                //margin-left: -50px;
                                object-fit: fill;
                            }
                        }




                    }





                }
            }
        }
    }
}

.priceTitle {
    margin-bottom: 0;
    font-size: 13px;
    font-family: IranBold !important;
    //margin-top: 16px;
}

.priceParent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;

    strong {
        //font-family: IranBold !important;
        color: #e20000 !important;
        font-size: 15px;
    }

    span {
        font-size: 13px !important;
        margin-right: 4px;
        font-weight: 600 !important;
        color: #e20000 !important;
        //font-family: IranBold !important;


    }
}

@media only screen and (max-width: 868px) {
    .hotelDetail {
        display: block !important;

        .imageContainer {
            width: 100% !important;
            height: 250px !important;

            img {
                object-fit: cover !important;
                height: 250px !important;
            }
        }
            .hotelNameDetail{
                .nameCon {
                        display: flex;
                        justify-content: space-between;

                        .faName {
                            padding: 0;
                            margin-left: 10px;
                            white-space: nowrap;
                            font-size: 12px !important;
                        }

                        .enName {
                            padding: 0;
                            margin: 0 !important;
                            font-weight: 700;
                            white-space: nowrap;
                            font-size: 12px !important;
                        }
                    }

            }


    }

    .hotelContainer{
        height: auto !important;
    }


    .hotels {
        padding: 0 !important;
        margin-top: .5rem !important;
    }

    .p-available {
        width: 90% !important;
    }

    .searchboxContainer {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: rgba(47, 47, 47, 0.43);
        width: 100%;
        height: 100%;
        padding-top: 4.5rem;

        .searchContainer {
            position: relative;
            border-radius: 8px;
            width: 93%;
            height: fit-content;
            background-color: white;
            padding: 2rem .5rem !important;

            .tour {
                //padding: 2.725rem .725rem !important;
                padding: 0 2rem;
                width: 100% !important;

                //display: flex;
                justify-content: center;
                align-content: center;

            }
            .closeBtn {
                justify-content: center;
                display: flex;
                align-items: center;
                width: 25px;
                height: 25px;
                border: 1px solid #e20000;

                border-radius: 5px;

            }

        }
    }

}

@media only screen and (min-width: 868px) {

    .main-section {
        padding: 11rem 4rem 0 4rem;
        position: relative !important;
    }

}

.checkboxcontainer {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;

    p {
        font-size: 12px;
        font-weight: bolder;
        margin: 0;
        margin-right: 6px;
    }



    input {
        margin-left: .4rem !important;
        cursor: pointer;
    }

    input[type="checkbox"] {
        padding: 0;
        appearance: none;
        background-color: #fff;
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 25px !important;
        height: 25px !important;
        border: 0.15em solid #e20000;
        border-radius: 0.15em;
        transform: translateY(-0.095em);
        display: grid;
        place-content: center;
    }

    input[type="checkbox"]::before {
        content: "";
        width: 10px;
        height: 10px;
        transform: scale(0);
        border-radius: 2px;
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em #e20000;
    }

    input[type="checkbox"]:checked::before {
        transform: scale(1);
    }
}
