
.become-host-box-container{
    // min-height: 450px;
    margin-top: 65px;
    img{
        width: 100%;
    }
}
.become-host-box{
    padding: 20px 10px;
    background-color: white;
    border-radius: 10px;
    
    p{
        margin-top: 20px;
    }
    input{
        height: 31px;
        margin-top: 10px;
    }
}