@import "./values.module.scss";

@media only screen and (max-width: 375px) {
  .title-solotion {
    margin-right: unset !important;
    text-align: center;
  }
  .form {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  .accordian-button {
    width: 345px !important;
    margin-right: 23px;
  }
  .body-text {
    width: 345px !important;
    margin-right: 23px;
    text-align: center;
  }
  .accordian {
    width: 390px !important;
    margin-left: 114px;
  }
  .filter-list-heading {
    font-size: 13px !important;
  }
  .text-title {
    font-size: 25px !important;
    margin-right: 90px !important;
  }
}
@media only screen and (max-width: 440px) {
  .title-solotion {
    margin-right: unset !important;
    text-align: center;
  }
  .form {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  .accordian {
    width: 390px !important;
    margin-left: 114px;
  }
  .filter-list-heading {
    font-size: 15px !important;
  }
  .text-title {
    font-size: 25px !important;
    margin-right: 90px !important;
  }
}
.flight-filter-box {
  border: 1px solid #d2d2d2;
  margin-top: 15px;
  border-radius: 10px;
  height: 520px;
}
@media only screen and (max-width: 650px) {
  .title-solotion {
    margin-right: unset !important;
    text-align: center;
  }
  .form {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  .accordian {
    width: 390px !important;
    margin-left: 114px;
  }
  .filter-list-heading {
    font-size: 13px !important;
  }
  .text-title {
    font-size: 25px !important;
    margin-right: 90px !important;
  }
  .hidden-xs-flight {
    display: none !important;
  }
  .visible-xs-flight-footer {
    display: grid !important;
    grid-template-columns: repeat(5, minmax(0px, 1fr));
    grid-template-rows: 1fr;
  }
  .visible-xs {
    display: block !important;
  }
}
@media only screen and (min-width: 650px) and (max-width: 900px) {
  .title-solotion {
    margin-right: unset !important;
    text-align: center;
  }
  .form {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  .accordian {
    width: 390px !important;
    margin-left: 114px;
  }
  .filter-list-heading {
    font-size: 15px !important;
  }
  .text-title {
    font-size: 25px !important;
    margin-right: 90px !important;
  }
}
.card-box-shadow {
  box-shadow: 2px 0px rgba(0, 0, 0, 0), 0 0 8px rgba(152, 152, 152, 0.12);
}

.visible-xs-flight-footer {
  @extend .card-box-shadow;
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: $whiteColor;
  height: 55px;
  border-top: 1px solid $pillGray;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  z-index: 999;
  & > div {
    background-color: white;
  }
}

.none {
  background-color: #fff !important;
  box-shadow: 0 0 !important;
  width: 100%;
  height: 50px;
}
.none:not(.collapsed)::after {
  filter: brightness(100%);
  background-color: #fff;
  position: relative;
  right: 0;
}

.filter-list-sort-1 {
  font-size: 14px;
  width: 100%;
  text-align: right;
}
.filter-list-sort-2 {
  font-size: 14px;
  width: 100%;
  text-align: right;
}
.filter-list-sort-3 {
  font-size: 14px;
  width: 100%;
  text-align: right;
}
.filter-list-sort-4 {
  color: black;
  font-size: 14px;
  width: 100%;
  text-align: right;
}
.filter-list-boxPosition {
  position: fixed;
  left: 100px;
  width: 299px;
}
.filter-list-box {
  padding: 5px 0;
  margin: 5px 0 0 0px;
  position: sticky;
  position: -webkit-sticky;
  text-align: right;
  height: 50px;
  .filter-list-heading {
    width: 100%;
    text-align: right;
  }
  .filter-list-input {
    height: 30px !important;
    border-bottom-width: 1px !important;
    width: 93%;
  }
  .filter-list-sort form {
    margin-top: 10px;
    margin-right: 15px;
  }
  .filter-list-heading & > strong {
    background-color: rgb(243, 243, 243);
    width: 100%;
  }
  .filter-list-sort,
  .filter-list-airlines,
  .filter-list-time-in-day {
    border-radius: 10px;
    margin-top: 15px;

    & > div {
      margin-top: 8px;
      // margin-right: 15px;
      background-color: rgb(243, 243, 243);
    }
    strong {
      margin: auto;
      color: black;
    }

    label {
      margin-right: 5px;
      margin-bottom: 0.5rem;
    }
  }
  .filter-list-airlines {
    img {
      widows: 16px;
      height: 16px;
      margin-right: 5px;
    }
  }
}

.flight-change-day {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
  .btn-outlined {
    text-align: center;
    border-width: 2px;
    color: $primaryColor;
    &:hover {
      background-color: $primaryColor;
      color: $whiteColor;
    }
    svg {
      margin: 3px 2px 0 2px;
    }
  }
}
.form {
  display: flex;
  justify-content: space-around;
  max-width: 86%;
  margin-right: 90px;
  margin-top: 15px;
}
.text-title {
  font-size: 30px;
  font-weight: 800;
  margin: 15px 130px 25px 0;
}
.accordian {
  margin-right: 20px;
  width: 530px;
}
.accordian-button {
  display: flex;
  justify-content: space-between;
  background-color: #279692 !important;
}
.title-solotion {
  margin-top: 50px;
  margin-right: 140px;

  h1 {
    font-size: 18px;
  }
}
.btn-filter{
  background-color: #279692;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}