@import "./values.module.scss";
.flight-detail {
  text-align: center;
  .background-world {
    background-image: url(../public/Images/worldmap.webp);
    background-position: center;
    background-size: contain;
  }
}
.passenger-list-last-payment {
  svg {
    margin-left: 5px;
  }
}
.second-column {
  padding: 10px;
  text-align: center;
  img {
    margin-left: 5px;
    display: inline-block;
  }
  p {
    display: inline-block;
  }
}
.border-pill-lg {
  p.color-textpill {
    border-bottom: 1px solid black;
    margin-bottom: 0;
    padding-bottom: 10px;
    svg {
      margin-top: 10px;
      margin-left: 7px;
    }
  }
}

.pcolor-textpill {
  border-bottom: 1px solid black;
  margin-bottom: 0;
  padding-bottom: 10px;
  svg {
    margin-top: 10px;
    margin-left: 7px;
  }
}
