.flight_container{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #f3f2f2;
}
.remove-btn{
  background-color: #e20000;
  color: white;
  font-size: 14px;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  transition: .2s ease-in-out;
  &:hover{
    background-color: white;
    color: #e20000;
    border: 1px solid #e20000;
  }
}
.flight_title{
  padding: 5px;
  width: 100%;
  position: relative;
  //background-color: #e20000;
  color: #e20000;
  //border-bottom: 1px solid #e20000;
  p{
    margin: 0;
    font-weight: 900;
    padding: 0;
  }
}


.flight_list{
  padding: 5px;
  gap: 10px;
  display: grid;
  grid-template-columns:1fr;
  //max-height: 500px;
  //overflow-y: auto;
  //overflow-x: hidden;
  cursor: pointer;
  .flight_card_container{
    background-color: #f8f9fd;

  }

  .separator{
    width: 100%;
    border-bottom: 3px dashed #ffff;
  }

  .flight_card{
    //width: 100%;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    display: flex;
border-radius: 10px;
    cursor: pointer !important;
    //box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    .dep_return{
      .item_details{
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        //gap: 40px;
        .item{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 2px;
          //width: 180px;
          p{
            margin: 0;
            padding: 0;
            font-size: 13px;
            word-break: auto-phrase;
            //margin: 0 10px;
            //white-space: nowrap;
          }
        }
        .img_container{
          width: 35px;
          height: 35px;
          border-radius: 50%;
          justify-self: end;
          img{
            width: 100%;
            height: 100%;
            aspect-ratio: 4 / 3; /* This is an example ratio; change as needed */
            object-fit: contain;
          }
        }

      }

    }




  }

}

.flight_card{
  &:hover{
    .btn-con{
      button{
        background-color: white !important;
        border: 1px solid #e20000!important;
        color: #e20000 !important;

      }

    }
  }
}
.btn-con{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:20px;
  align-items: center;
  button{
    transition: .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    //white-space: nowrap;
    height: 40px;
    background-color: #e20000;
    color: white;
    font-size: 14px;
    border-radius: 10px;
  }
}

.flights{
  display: grid;
  grid-template-columns:.35fr 1fr ;
  margin-top:20px !important;
gap: 10px;

}
.svg {
  transform: scaleX(-1);
}
.filterbox_container{
  position: relative;
  .filter_box{
    padding: 10px;
    position: sticky;
    background-color: #f3f2f2;

    top: 150px;
    right: 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    .title{
      font-size: 14px;
      display: flex;
      align-items: center;
      p{
        margin: 0;
        padding: 0;
        font-size: 12px;
      }
      //color: #e20000;
      //border-bottom: 1px solid #e20000;
    }
    .filter_item{
      padding: 2px;
      margin-bottom: 10px;
      .airline_list{
        display: block;
        margin-top: 15px;
        background-color: white;
        border-radius: 5px;
        //grid-template-columns: repeat(3,1fr);

      }

      .flight_number{
        display: flex;
        gap: 10px;
        justify-content: space-between;
        padding: 0 10px;
        input{
          height: 40px;
          width: 150px;
          margin-top: 3px;
          border:1px solid #cecece;
          border-radius: 5px;
          outline: none;
          padding: 4px;
          &::placeholder{
            font-size: 12px;
          }
        }
      }
    }


    .airline_item{
      display: flex;
      gap: 5px;
      align-items: center;
      padding: 5px;
      cursor: pointer;

      .img_container{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        img{
          width: 100%;
          height: 100%;
          aspect-ratio: 4 / 3;
          object-fit: fill;
        }

      }
      p{
        margin: 0;
        padding: 0;
        font-size: 12px;
      }
      &:hover{
        border-radius: 10px;
        background-color: rgb(236,236,236);
      }

    }

  }

}

.selected_airline{
  border-radius: 10px;
  border: 2px solid #e20000;
  // background-color: rgb(236,236,236);
}


.price{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  p{
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}

@media only screen and (max-width: 868px) {
  .flights{
    display: block;
  }
  .flight_card{
    display: block !important;
  }

  .flightDet_container{
    display: block !important;
  }

  .btn-con{
    justify-content: space-between;
    margin-top: 25px;
flex-direction: row  }
  .flight_title{
    display: flex;
    justify-content: space-between;
  }

  .filterbox_container{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow: none;

    .filter_box{
      top: 0;
      box-shadow: none;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

  }
  .filter_open{
    display: block;

  }
}



////////////flights




.flightDet_container {
  //border-bottom: 2px dashed $borderColor;
  background-color: #fff;
  border: 1px solid #cecece;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  display: grid;
   grid-template-columns: repeat(4,.5fr);
  justify-content: space-between;

  &:hover{
    .btn-con{
      button{
        background-color: white !important;
        border: 1px solid #e20000!important;
        color: #e20000 !important;

      }

    }
  }

  .flightDet {
    flex-grow: 2;

    &_title {
      margin-bottom: .5rem;

      p {
        margin: 0;
        padding: 0;
        font-size: .9rem;
        font-weight: 800;
        text-align: center;
      }
    }

    &_loc {
      margin-bottom: .5rem;
      padding: .5rem;
      border-radius: 10px;
      background-color: rgb(236, 236, 236);

      p {
        margin: 0;
        padding: 0;
        font-size: .8rem;
        text-align: center;
      }
    }

    &_timedate {
      margin-bottom: .5rem;
      display: flex;
      justify-content: center;
      align-items: center;
gap: 6px;
      span {
        font-size: .8rem;
        font-weight: 900;
      }


    }

    &_hotelEnt {

      margin-bottom: .5rem;
      display: flex;
      justify-content: center;

      label {

        font-size: .8rem;
        margin-left: .725rem;
        font-weight: 900;
      }

      p {

        font-size: .8rem;
      }

    }
  }

  .flight_company {
    flex-grow: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: .5rem;
    margin: 0 15px;


    &_remaintour {
      justify-self: center;
      //padding-top: 1rem;
      //flex-grow: 8;
      //align-self: start;
      //position: relative;
      //bottom: 15px;

      p {
        font-size: 13px !important;
        padding: 0;
        margin: 0;

        span {

          margin: 0 5px !important;
        }

      }

      .seprator {
        border-bottom: 1px dashed #e20000;
        //padding:0 px;
        position: relative;
        top: -15px;
        width: 180px !important;

      }

      .dot {
        position: relative;
        top: 10px;
        width: 8px;
        height: 8px;
        background-color: #e20000;
        border-radius: 50%;
      }

      p {
        text-align: center;
        font-size: .9rem;
        padding: 0;
        margin: 0;
      }

    }

    &_logo {
      //flex-grow: 1;
      display: flex;
      flex-direction: column;
      row-gap: 6px;
      //transform: translateY(18px);

      .image_container {
        padding: 0;
        margin: 0;

        width: 30px;
        height: 30px;
        //border-radius: 50%;

        overflow: hidden;
        align-self: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

      }

      p {
        font-size: .9rem;
        text-align: center;
      }
    }

    &_remaintour {
      //justify-self: center;
      //padding-top: 1.725rem;
      //flex-grow: 8;
      //align-self: start;

      p {
        font-size: 13px !important;
        padding: 0;
        margin: 0;

        span {

          margin: 0 5px !important;
        }

      }

      .seprator {
        border-bottom: 1px dashed #e20000;
        //padding:0 px;
        position: relative;
        top: -15px;
        width: 100%;

      }

      .dot {
        position: relative;
        top: 10px;
        width: 8px;
        height: 8px;
        background-color: #e20000;
        border-radius: 50%;
      }

      p {
        text-align: center;
        font-size: .9rem;
        padding: 0;
        margin: 0;
      }

    }
  }
}
