
@media only screen and (max-width: 650px) {
  .visible-xs-passenger-form-header {
    display: flex;
  }
  .mt-12{
    margin-top: 12px !important;
  }
  .hidden-xs {
    display: none !important;
  }
  .passenger-form {
    .form-input-border-private {
      height: 45px !important;
    }
  }
}
@media only screen and (max-width: 979px) and (min-width: 651px) {
  .visible-xs-passenger-form-header {
    display: none;
  }
}

@media only screen and (max-width: 2000px) and (min-width: 980px) {
  .visible-xs-passenger-form-header {
    display: none;
  }
}
.select-box{
  border: 1px solid #eee !important;
  padding: 6px 0 !important;
}
.corner-position {
  position: absolute;
  top: 2px;
  left: 1px;
  .delete-thumbnail{
    height: 35px !important;
    width: 35px !important;
    background-color: #ff0000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
.container {
  width: 98%;
}
.passenger-form {
  position: relative;
  margin-top: 5px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ede8e8;
  border-radius: 8px;
  padding: 5px 10px;
  & > div {
    margin: 0 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .form-input-border-private {
      height: 29px !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  select,
  option {
    padding: 0px 5px !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .exit-form {
    border: 2px solid #ff0000;
    border-radius: 3px;
    cursor: pointer;
    border: 2px solid #ff0000;
    color: #ff0000;
    text-align: center;
    height: 30px;
    padding: 4px 8px 0px 8px !important;
    display: inline-block;
  }
}
.exit-form {
  border: 2px solid #ff0000;
  border-radius: 3px;
  cursor: pointer;
  border: 2px solid #ff0000;
  color: #ff0000;
  text-align: center;
  height: 30px;
  padding: 4px 8px 0px 8px !important;
  display: inline-block;
}
.option {
  height: 3.5em !important;
  font-size: 12px;
  border-radius: 5px !important;
}
.makhfi {
  display: none !important;
}
