@import "./values.module.scss";
.flight-list-one-row:hover {
  cursor: pointer;
  background-color: rgba(248, 248, 248, 0.981);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.06);
  transition: 0.3s;
}
@media only screen and (max-width:440px) {
  .desc-flightlist {
    width: 80% !important;
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  .title-header {
    margin: 16px 0 10px 137px !important;
    font-size: 18px;
    font-weight: 600;
    color: rgb(99, 99, 99) !important;
  }
  .desc-flightlist-header {
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    h2 {
      font-size: 18px !important;
      margin-left: 20px !important;
    }
  }
}
@media only screen and (max-width: 979px) and (min-width: 651px) {
  .flight-list-one-row {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media only screen and (max-width: 2000px) and (min-width: 980px) {
  .flight-list-one-row {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    //grid-template-rows: 1fr;
  }
}
.flight-list-one-row {
  border: 1px solid #d2d2d2;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  background-color: #fff;
  transition: 0.3s;
  width: 99%;
  height: auto;
  position: relative;
  border-radius: 10px;
  text-align: center;
  padding: 12px 0px 12px 0;
  margin-top: 10px;
  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    left: 82.3%;
  }
  &:before {
    top: -0.9em;
    border-bottom: 1px solid #aaa8a8;
  }
  &:after {
    border-top: 1px solid #aaa8a8;
    bottom: -0.7em;
  }
  .one-row-price {
    color: $secondaryColor;
    i {
      margin-left: 1px;
      font-size: 14px;
    }
  }
  .one-row-price {
    border-left: dotted rgb(161, 161, 161);
    border-width: 2px;
    margin-right: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .flight-list-one-row :hover {
    background-color: teal !important;
  }
  .img-airplan {
    height: auto !important;
  }
  .one-row-detail {
    padding: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      margin-left: 5px;
      display: inline-block;
      font-size: 13px;
    }
  }
  .one-row-provider {
    img {
      margin-top: 5px;
      width: 45px;
      height: 45px;
    }
    p {
      margin-bottom: 0 !important;
      margin-top: 15px;
      font-size: 14px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .one-row-date {
    font-size: 12px;
    padding: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .one-row-time {
    padding: 5px;
    i {
      font-size: 32px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .one-row-cap {
    i {
      font-size: 30px;
    }
    span {
      font-size: 13px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.desc-flightlist {
  margin-top: 55px;
  width: 85%;
  align-items: center;
  .desc-flightlist-header {
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
  }
  .desc-flightlist-title {
    color: rgb(148, 148, 148);
    font-size: 18px;
  }
  .title-header {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(148, 148, 148);
  }
}
.mobile-one-row-flight-number{
  display: flex !important;
  justify-content: center;
  column-gap: 5px;
  padding-top: 4px;
  span:first-child{
    font-size: 13px;


  }
  span:last-child{
    font-size: 14px;
    color: #e20000;
    font-weight: 700;
  }
}
.airline-detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 868px)  {

  .flight-list-one-row{
    padding: 10px 5px;
    height: 110px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
  .mobile-one-row-flight-number{
    display: flex !important;
    justify-content: center;
    column-gap: 5px;
    padding-top: 4px;
    span:first-child{
      font-size: 11px;

    }
    span:last-child{
      font-size: 13px;
      color: #e20000;
    }
  }
}
