@import "./values.module.scss";
.flight-detail {
  text-align: center;
  .background-world {
    background-image: url(../public/Images/worldmap.webp) !important;
    background-position: center;
    background-size: contain;
  }
}
.passenger-list-last-payment {
  svg {
    margin-left: 5px;
  }
}
.second-column {
  padding: 10px;
  text-align: center;
  img {
    margin-left: 5px;
    display: inline-block;
  }
  p {
    display: inline-block;
  }
}
.border-pill-lg {
  p.color-textpill {
    border-bottom: 1px solid black;
    margin-bottom: 0;
    padding-bottom: 10px;
    svg {
      margin-top: 10px;
      margin-left: 7px;
    }
  }
}

.pcolor-textpill {
  border-bottom: 1px solid black;
  margin-bottom: 0;
  padding-bottom: 10px;
  svg {
    margin-top: 10px;
    margin-left: 7px;
  }
}

.border-left{
  border-left: 1px dashed black;
}
.select-bunk{
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}
.cancel-buttom{
  border-bottom: 1px dashed red;
  color: red;
}

.item {
  display: flex;
  justify-content: space-between;
}
.descripcion {
  /*background-color: green;*/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.descripcion:after {
  content: " ........................................................................................................................................................................................................................................................................................."
}
.precio {
  flex-shrink: 0;
}