@import "./values.module.scss";

@media only screen and (max-width: 649px) and (min-width: 441px) {
  .home-flight-form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;
  }
}

.flight-detail {
  text-align: center;

  .background-world {
    background-image: url(../public/Images/worldmap.webp);
    background-position: center;
    background-size: contain;
  }
}

@media only screen and (max-width: 694px) and (min-width: 650px) {
  .home-flight-form {
    grid-template-columns: 8fr 2.5fr 8fr 8fr 4fr;
    grid-template-rows: 1fr;
    gap: 8px;
  }
}

@media only screen and (max-width: 979px) and (min-width: 695px) {
  .home-flight-form {
    grid-template-columns: 8fr 2.5fr 8fr 8fr 4fr;
    grid-template-rows: 1fr;
    gap: 8px;
  }
}

@media only screen and (max-width: 2000px) and (min-width: 980px) {
  .home-flight-form {
    grid-template-columns: 6fr 0.7fr 6fr 8fr 5fr;
    grid-template-rows: 1fr;
    gap: 8px;
  }

}

// @media only screen and (max-width: 868px) {
//   .home-tour-form{
//     // grid-template-columns: 1fr !important;
//     // grid-template-rows: 3fr !important;
//     // gap: 10px !important;
//     // display: grid !important;
//     .primary-button{
//       width: 200px !important;
//     }
//   }
// }
.home-flight-form {
  display: grid;


  .form-input-border-private {
    border: 1px solid #cfd3d8;
    font-size: 14px;
  }
}

.home-swtich-button-container {
  cursor: pointer;

  &:hover {
    background-color: $pillGray;
  }

  .home-swtich-button {
    margin: 15px auto 0 auto;
    font-size: 16px;
    color: #000 !important;
  }
}

.flight-search-box-calendar-container {
  padding: 10px 2px;
}

.home-tour-form {
  // grid-template-columns: 2fr 2fr 1fr ;
  // grid-template-rows: 1fr !important;
  // gap: 60px;
  // display: grid !important;
  // .primary-button{
  //   width: 200px !important;
  // }
  display: flex;
  justify-content: space-between;
}

.suggestion-box {
  border: 1px solid #cfd3d8 !important;
}


.prs-input {
  background: $whiteColor;
  border: 1px solid #E0E0E0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 8px;
  position: relative;
  height: 55px !important;
  border-radius: 10px;
  svg{
    position: absolute;
    left: 8px;
  }

  input {
    width: 85%;
    border: none;
    outline: none;
    background: unset;
    font-size: 14px;

    &::placeholder {
      font-size: 15px;
      color: #717171;
      //font-weight: 600;
    }
  }

}

 @media only screen and (max-width: 768px) {
   .home-flight-form {
     display: block;



   }
}


.search_box_container{
  justify-content: center;
  place-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr .5fr;
}

@media only screen and (max-width: 868px) {
  .search_box_container{

display: block;  }
}

.tour_type{
  margin-top: 10px;
  gap: 2px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.type_active{
color: #e20000 !important;
  border:2px solid #e20000 !important;
}

.type_hotel{
  color: black;
  cursor: pointer;
  border:2px solid #b9b9b9;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 10px 0;
}

.type_package{
  cursor: pointer;
  color: black;
  border:2px solid #b9b9b9;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
}
