@import "./values.module.scss";
@media only screen and (max-width: 650px) {
  .footer-logo {
    text-align: right !important;
  }
  // .footer-virtual ul {
  //   display: flex !important;
  //   justify-content: space-around !important;
  //   align-items: center !important;
  //   text-align: center !important;
  //   margin-right: 100px !important;
  // }
}
@media only screen and (max-width: 414px) {
  .footer-virtual {
    width: 100% !important;
    display: none !important;
  }
  .mobile-footer-soccialmedia {
    display: flex !important;
    flex-direction: column;
    width: 100%;
  }
  .footer-contact {
    width: 100% !important;
    display: none !important;
  }
  .contact-desktop {
    display: none !important;
  }
}
.footer {
  background-color: $blackBackground;
  padding: 20px 0 10px 0;
  text-align: right;
  color: $whiteColor;
  margin-top: 48px;
  h3 {
    font-size: 17px;
    font-weight: 600;
  }

  ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;

    a {
      color: $whiteColor;
      font-size: 14px;
      font-weight: 400;
      &:hover {
        color: $whiteColor;
      }
    }
    svg {
      margin-left: 5px;
      font-size: 14px;
    }
  }
  .row {
    div {
      margin-top: 10px;
    }
  }
}

.footer-logo {
  margin-bottom: 20px;
  text-align: center;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    color: $pillTextGray;
    font-size: 16px;
    margin: 0 !important;
  }
  a {
    color: $whiteColor;
  }
}

.circle {
  width: 7px;
  height: 7px;
  border-radius: 100px;
  background-color: #ff0000;
  margin-left: 8px;
}

.ul-lists {
  li {
    padding-right: 15px;
  }
}
.footer-virtual {
  display: flex;
  justify-content: end;
  margin-top: -50px;
  margin-right: -50px;
}
.mobile-footer-soccialmedia {
  display: none;
}
.footer-contact {
  display: none !important;
}
.contact-desktop {
  display: none;
}
// .enamd{
//   img{
//     width: 150px;
//     height: 150px;
//   }
// }
