@import "./values.scss";


@font-face {
  font-family: BYekan;
  src: url("../public/Font/IranSans2/eot/IRANSansWebFaNumUltraLight.woff");
}

@font-face {
  font-family: IranBold;
  src: url("../public/Font/IranSans2/eot/IRANSansWebFaNumBold.woff");
}

@font-face {
  font-family: bilitja;
  src: url("../public/Font/kilofont.woff");
}

.bilitja {
  font-family: bilitja;
  font-style: normal;
}

@media only screen and (max-width: 768px) and (min-width: 451px) {
  .hidden-sm {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .hidden-xs {
    display: none !important;
  }
  .padding-xs-0-7 {
    padding: 0 7px;
  }
  .no-padding-xs {
    padding: 0 !important;
  }
  .no-margin-xs {
    margin: 0 !important;
  }
  .padding-xs-5-15 {
    padding: 5px 15px;
  }
  .padding-xs-5-25 {
    padding: 5px 25px;
  }
  .xs-font-size-13 {
    font-size: 13px !important;
  }
  .xs-font-size-14 {
    font-size: 14px !important;
  }
  .visible-xs {
    display: block !important;
  }

  .border-pill-lg {
    border: none !important;
  }
}

body {
  font-family: BYekan;
  z-index: 1 !important;
  direction: rtl;
}

.ltr {
  direction: ltr !important;
}

.font-bold-iransanse {
  font-family: IranBold !important;
}

ul{
  list-style: none;
}

a {
  color: $pillTextGray;
  text-decoration: none;
  &:hover {
    color: $secondaryColor;
  }
}

body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.text-base-color-1{
  color: #090026;
}

.btn-base-color-1{
  background-color: #090026;
}

.bodyVar {
  font-family: BYekan;
  z-index: 1 !important;
  direction: rtl;
  width: 100%;
  height: 100%;
  // overflow-x: hidden;

  a {
    color: $pillTextGray;
    text-decoration: none;
    font-size: 15px;

    &:hover {
      text-decoration: none;
      color: $secondaryColor;
    }
  }
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-vertical {
  margin: 0 auto !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-horizental {
  padding: 5px 0 !important;
}

.no-padding-vertical {
  padding: 0 5px !important;
}

.margin-top-20px {
  margin-top: 20px;
}

.margin-top-15px {
  margin-top: 15px;
}

.margin-top-10px {
  margin-top: 10px;
}

.margin-top-5px {
  margin-top: 5px;
}

.margin-bottom-5px {
  margin-bottom: 5px !important;
}

.margin-bottom-0px {
  margin-bottom: 0px !important;
}

.margin-5px {
  margin: 5px;
}

.padding-5px {
  padding: 5px;
}

.padding-3px {
  margin-top: 10px;

  padding: 3px;
}

.padding-horizental-3px {
  padding: 0 3px !important;
}

.padding-horizental-10px {
  padding: 0 10px !important;
}

.padding-10px {
  padding: 10px;
}

.card-box-shadow1 {
  box-shadow: 2px 0px rgba(0, 0, 0, 0), 0 0 8px rgba(152, 152, 152, 0.12);
}

.font-size-8 {
  font-size: 8px;
}

.font-size-9 {
  font-size: 9px;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-11 {
  font-size: 11px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-23 {
  font-size: 23px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-25 {
  font-size: 25px;
}

.color-primary {
  color: $primaryColor;
}

.color-textpill {
  color: $pillTextGray;
}

.color-black {
  color: black;
}

.color-white {
  color: white;
}

.background-white {
  background-color: white;
}

.color-secondary {
  color: $secondaryColor;
  font-size: 17px;
}

// style include => amir.qn
.color-gray{
  color: #7a7272;
}

.btn-outlined {
  border: 1px solid $primaryColor;
  padding: 1px 3px 2px 2px;
  cursor: pointer;
  color: black;
  border-radius: 5px;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

.btn-outlined-cancle {
  @extend .btn-outlined;
  text-align: center;
  border-width: 2px;
  display: inline-block;
  width: 100%;
  height: 40px !important;
  padding: 6px;
  font-size: 13px;
  border-color: $secondaryColor !important;
  color: $secondaryColor !important;

  &:hover {
    background-color: $secondaryColor !important;
    color: $whiteColor !important;
  }
}

.btn-outlined-cancle-tall {
  @extend .btn-outlined;
  height: 40px !important;
  border-color: $secondaryColor;
  text-align: center;
  border-width: 2px;
  display: block;
  padding: 10px;
  font-size: 13px;
  border-color: $secondaryColor;
  color: $secondaryColor;

  &:hover {
    background-color: $secondaryColor;
    color: $whiteColor;
  }
}

.btn-outlined-reserve {
  @extend .btn-outlined;
  text-align: center;
  border-width: 2px;
  display: inline-block;
  width: 98%;
  height: 34px !important;
  padding: 6px;
  font-size: 13px;
  border-color: $primaryColor;
  color: $primaryColor;

  &:hover {
    background-color: $primaryColor;
    color: $whiteColor;
  }
}

.btn-outlined-reserve-tall {
  @extend .btn-outlined;
  height: 40px !important;
  border-color: $secondaryColor;
  text-align: center;
  border-width: 2px;
  display: block;
  padding: 10px;
  font-size: 13px;
  border-color: $primaryColor;
  color: $primaryColor;

  &:hover {
    background-color: $primaryColor;
    color: $whiteColor;
  }
}

.btn-fiiled {
  color: black;
  padding: 7px 5px;
  border-radius: 3px;

  background-color: $whiteColor;

  &:hover {
    color: black;
  }
}

.btn-buy-action {
  background-color: $secondaryColor;
  border-radius: 20px;
  padding: 3px;
  width: 90%;
  height: 33px;
  margin: 0 auto;
  border: 2px solid $secondaryColor;
  &:hover {
    svg {
      path {
        fill: $secondaryColor;
      }
    }
  }
  a {
    font-size: 13px;
    font-weight: 600;
  }

  a,
  i {
    color: $whiteColor;
  }

  &:hover {
    background-color: $whiteColor;

    a,
    i {
      color: $secondaryColor;
    }
  }
}

.btn-encouregment {
  border-radius: 5px;
  color: white !important;
  background-color: #069e2c !important;
  border: 2px solid #069e2c !important;
  display: inline-block;
  width: 98%;
  margin: auto;
  height: 34px;
  padding: 3px;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  line-height: 30px;

  &:hover {
    background-color: white !important;
    color: #069e2c !important;
  }
}

.without-focus {
  &:focus-within {
    border-bottom: none !important;
  }
}

.form-input-border-primaryselect {
  height: 29px !important;
}

.row-price {
  padding: 12px 5px 0 5px;
}

.form-input-border {
  border: 1px solid $pillGray;
  border-radius: $borderRadius;
  position: relative;
  height: 45px;
  box-sizing: border-box;
  padding: 0 !important;
  margin-top: 7px;
  position: relative;

  svg {
    color: $pillTextGray;
  }

  &:focus-within {
    border-bottom: $secondaryColor 1px solid;

    .suggestion-box {
      overflow-y: auto;
      max-height: 100px;
      display: block;
    }
  }

  .suggestion-box {
    box-shadow: -2px 2px 0px rgba(0, 0, 0, 0), 0 0 8px rgba(152, 152, 152, 0.12);
    width: 100%;
    position: absolute;
    background-color: white;
    height: 200px;
    top: 44px;
    overflow-y: scroll;
    text-align: right;
    border: solid 1px $pillGray;
    border-radius: 5px;
    z-index: 9999;
    display: none;

    div {
      padding: 5px 10px;
      cursor: pointer;

      &:hover {
        background-color: #f2f2f2;
      }
    }

    &:hover {
      display: block;
    }
  }
}

.form-input {
  border: none;
  height: 100%;
  width: 100%;
  border-radius: 10px;

  &:focus {
    outline: none;
    border-bottom: 1px solid red;
    border-radius: 3px;
  }
}

.form-input-icon {
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 29px;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.form-input-icon-larger {
  position: absolute;
  top: 0px;
  left: 15px;
  font-size: 29px;
}

.input-search {
  @extend .card-box-shadow1;
  width: 100%;
  border: solid 1px #ced4da;
  height: 45px;
  font-size: 17px;
  border-radius: 5px;

  &:focus {
    border-bottom: 2px solid $secondaryColor;
    outline: none;
  }
}

.border-pill,
.border-pill-lg {
  border: 1px solid $pillGray;
  border-radius: 5px;
}

.border-right-pill {
  border-right: 1px solid $pillGray;
}

.border-bottom-black {
  border-bottom: 1px solid black;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear {
  clear: both;
}

.visible-xs {
  display: none;
}

.exit-form {
  border: 2px solid #ff0000;
  border-radius: 3px;
  cursor: pointer;
  border: 2px solid #ff0000;
  color: #ff0000;
  text-align: center;
  height: 30px;
}

.exit-form-circle {
  border: 2px solid $secondaryColor;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 111px;
  width: 26px;
  padding: 0 1px 2px 0;
  text-align: center;
  color: $secondaryColor;
  cursor: pointer;
  position: absolute;
  left: 4px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f5f5f5 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #525965;
  border-radius: 10px;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.rotate-upsidedown-reverse {
  transform: rotateZ(319deg) rotateY(180deg) scale(1, 1);
  //     transform:rotateZ(-40deg) scale(-1 , 1);
}

.popup-content-container {
  padding: 20px 30px;

  .popup-heading {
    padding: 10px 0;
    text-align: right;

    span {
      margin: 5px 0;
      padding: 4px 8px 0px 8px;
      display: inline-block;
    }
  }
}

.start-box {
  color: #fb9900;
}

.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%; // some width
}

div.radio {
  float: right;
  margin-top: 3px;
}

.error-message {
  display: block !important;
  font-size: 11px;
  // min-height: 19px !important;
}

.topic-icon {
  border-left: 4px solid $primaryColor;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.panel-header {
  display: grid;
  grid-template-columns: 1fr 10fr;
}

.payment-container {
  .btn-outlined.color-secondary {
    border-color: $secondaryColor;
    color: $secondaryColor;

    &:hover {
      background-color: $secondaryColor;
      color: $whiteColor;
    }
  }
}

.airline-icon {
  width: 35px;
  height: 35px;
}

.parent-footer-top {
  flex-wrap: nowrap !important;
  padding: 0 5rem !important;
}

.item-footer {
  ul {
    li {
      margin-top: 8px;
      transition: 0.4s all;

      &:hover {
        transition: 0.4s all;
        transform: translateX(-5px);

        svg {
          path {
            fill: $secondaryColor;
          }
        }

        a {
          transition: 0.4s all;
          color: $secondaryColor;
        }
      }
    }
  }
}

.description-shop-ticket {
  line-height: 28px;
  font-weight: 600;
}

.number-space {
  letter-spacing: 2px;
  font-weight: 600;
  margin: 0 4px;
}

.filter-list-box {
  .accordion-item {
    border-radius: 30px !important;
  }

  .accordion-button {
    background-color: $secondaryColor !important;
  }
}

.light-bg {
  background-color: #dbdbdb !important;
}

.accordion-item-prs {
  overflow: hidden;
  border: 2px solid #dbdbdb !important;
}

.parent-type-airline {
  width: 100%;
  padding: 8px;
  border-radius: 2px;
  margin-right: 0 !important;

  label {
    margin-right: 10px !important;
    font-weight: 600;
  }
}
.mr-8px {
  margin-right: 8px;
}
.min-height {
  min-height: 900px;
}
.input-filter-search {
  width: 88% !important;
  height: 40px;
  border: 2px solid $pillGray;
  padding: 0 8px;
}
.title-filter {
  display: flex;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 15px;
  padding-bottom: 8px;
  border-bottom: 2px solid $pillGray;
  width: 94%;

  h3 {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin: 0 7px 0 0;
  }
}
.mx-auto {
  margin: 0 auto;
}
.accordion-button::after {
  content: "";
  background-image: url("../public/Images/arrow-small-left.svg") !important;
  background-color: $secondaryColor !important;
  width: 1.7rem !important;
  height: 1.7rem !important;
  background-position: center;
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion-button:not(.collapsed)::after {
  content: "";
  transform: rotate(-90deg);
}
.svg-bg-white {
  path {
    fill: #fff;
  }
}
// .parent-page-trakorder {
//   margin: 3rem 0;
//   border: 2px solid $pillGray;
//   border-radius: 10px;
//   padding: 1rem;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }
.title-track-order {
  margin-right: 8px;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0;
}
.icon-size {
  font-size: 18px;
}
.details-order {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.border-bottom-black-track {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  .img {
    img {
      height: 350px !important;
    }
  }
}
.img-fluid-1 {
  height: 430px;
  object-fit: contain;
}

.iranBold {
  font-family: IranBold !important;
}
.border-between {
  display: flex;
  align-items: center;
  justify-content: center;
}
.delete-thumbnail {
  height: 50px !important;
  width: 50px !important;
  background-color: #ff0000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    svg {
      transform: scale(1.2);
      transition: 0.5s ease-in;
    }
  }
  svg {
    transition: 0.5s ease-in;
    path {
      fill: #ffff;
    }
  }
}

@media screen and (max-width: 490px) {
  .mt-12 {
    margin-top: 12px !important;
  }
  .border-between {
    display: none !important;
  }
  .parent-page-trakorder .img {
    display: none;
  }
  .parent-footer-top {
    flex-direction: column;
    align-items: center;
    padding: 0 !important;

    .item-footer {
      width: 100%;
      margin-top: 10px;
    }
  }
  .popup-content-container {
    padding: 20px 10px !important;
  }
  .btn-container-header-login {
    margin: 5px !important;
    margin-bottom: 10px !important;

    button {
      font-size: 12px;
    }
  }
}

//order-dashboard
.header-parent {
  width: 1400px;
  height: 60px;
  background-color: #eee;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-content: center;
  padding: 0 12px;
}
.body-parent {
  width: 1400px;
  height: 60px;
  border-bottom: 2px dashed #dbdbdb;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 0 12px;
  place-content: center;
  .id {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    background-color: $primaryColor;
  }
  .price-order {
    strong {
      font-size: 16px;
      font-family: "IranBold" !important;
    }
    small {
      font-size: 13px;
      margin-right: 4px;
    }
  }
}
.parent-order-dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  overflow-y: hidden;
  height: auto;
}

// afp
$base-color-1: #279692;
$base-color-2: #ff0000;

.line-through{
  text-decoration: line-through;
}

.color-base-color {
  color: $base-color-2;
}
.color-second-color {
  color: $base-color-1;
}
.border-base-color {
  border-color: $base-color-1 !important;
}
.border-second-color {
  border-color: $base-color-2 !important;
}

$radius-btn: 15px 15px 1px 15px;
button {
  outline: none;
  border: none;
}
.tour-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  border-radius: 8px;
  overflow: hidden;
  padding-right: 1rem;
  // border: 2px solid #E0E0E0;
  box-shadow: 0 0 4px #e0e0e0;
}
.tourImages{
  .swiper-button-next{
    &::after{
      content: "";
      color:$base-color-1 !important;
    }
  }
  .swiper-button-prev{
    &::after{
      content: "";
      color:$base-color-1 !important;
    }
  }
}
.tour-city {
  display: flex;
  align-items: center;
  width: 33%;
  height: 100%;
}
.tour-days {
  display: flex;
  flex-direction: column;
}
.type {
  align-items: center;
  display: flex;
  justify-content: start;
  width: 14%;
}
.text-mobi-btn {
  display: none;
}
.ino-tour-btn {
  cursor: pointer;
}
.info-tour-city {
  cursor: pointer;
}
// .text-price{
//   .price-tour{
//     color: $base-color-2;
//   }
// }
.ino-tour-btn {
  width: 55px;
  height: 100%;
  background-color: $base-color-1;
  border-radius: 8px 0 17px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom {
  .border-right {
    width: 15%;
    height: 2px;
    background-color: $base-color-1;
  }
  .border-left {
    width: 85%;
    height: 2px;
    background-color: $base-color-2;
  }
}

.border-box {
  width: 28%;
  height: 2px;
  margin: auto;
}

.box-right {
  border-right: 2px dashed $base-color-1;
  border-top: 2px dashed $base-color-1;
  height: 80px;
  transform: rotateX(170deg) translate(-13px, 40px);
}

.box-left {
  border-left: 2px dashed $base-color-2;
  border-top: 2px dashed $base-color-2;
  height: 80px;
  transform: translate(17px, 40px);
}

.p-info__tour,
.p-detail {
  .p-thead,
  .d-detail {
    .c-thead,
    .c-detail {
      flex: 0 0 11%;
      max-width: 11%;
      &:first-child {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
    .c-thead {
      background-color: #f7f7f7;
      border: 1px solid #e0e0e0;
      border-radius: 10px;
    }
  }
}

.p-detail {
  .d-detail {
    height: 130px;
    box-shadow: 0 0 4px #e0e0e0;
    border-radius: 10px;
    .c-detail {
      margin-left: 10px;
    }
  }
}

.p-info__descrip {
  .p-descrip {
    .c-descrip {
      border: 2px solid;
      border-radius: 10px;
    }
  }
}

//style => amir.qn for ...
.hotel-list {
  .c-hotel{
    box-shadow: 0 0 2px rgba($color: #000000, $alpha: .3);
    border-radius: 15px;
    margin-left: 7px;
    .gallery{
      .image{
        img{
          border-radius: 20px 15px 15px 20px;
          object-fit: cover;
        }
      }
    }
    .detail-hotel{
      height: 190px;
    }
  }
}

.p-room,
.p-comment{
  .c-room,
  .c-comment{
    .image{
      img{
        border-radius: 12px 8px 8px 12px;
        object-fit: cover;
      }
    }
    .title{
        height: 140px;
    }
    .avatar{
      img{
        border-radius: 100px;
        object-fit: cover;
      }
    }
    box-shadow: 0 0 2px rgba($color: #777777, $alpha: .4);
    border-radius: 5px;
  }
}

.sticky-datalist{
  position : sticky;
  position: -webkit-sticky;
  height: fit-content;
  top: 20px;
  .c-datalist{
    box-shadow: 0 0 3px rgba($color: #676767, $alpha: .7);
    border-radius: 5px;
    padding: 10px;
  }
}

.date-show{
  padding-right: 10px;
  .c-date-show{
    flex: 0 0 12%;
    max-width: 12%;
  }
  .start-date,
  .end-date{
    border-top: 2px solid #ff0000 !important;
    border-bottom: 2px solid #ff0000 !important;
  }
  .complete-capacity{
    opacity: .6;
  }
}

.rotate-data{
  animation: animation-rotate 5s 1s ease-in infinite;
}

.collection-gallery{
  .image{
    img{
      border-radius: 8px;
    }
  }
}


@keyframes animation-rotate {
    0%{
      transform: rotate(0);
    }
    100%{
      transform: rotate(-180deg);
    }
}


// @media (max-width: 1290px){
// }

//style => amir.qn

.swiper-button-next,
.swiper-button-prev{
  background-color: #f9f9f9;
  width: 45px !important;
  height: 45px !important;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after{
    content: url('/images/Arrow_left_long.svg') !important;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 3px;
  }
}

.swiper-button-prev{
  &::after{
    content: url('/images/Arrow_right_long.svg') !important;
  }
}

.swiper-rtl {
  .swiper-button-next,
  .swiper-button-prev{
    top : 34px !important;
  }
  .swiper-button-prev{
    right: inherit !important;
    left: 65px !important;
  }
}

$sizes: 100;

@mixin grid-classes {
  @for $i from 5 through $sizes {
    $grids: $i * 1%;

    /* flex #{$grids} */
    .flex-#{$i} {
      flex: 0 0 $grids;
      max-width: $grids;
    }
  }
}

@include grid-classes;

//component table => amir.qn
.controller-table {
  border: 5px solid #fff;
  border-radius: 10px;
  .thead,
  .d-detail{
    .head,
    .detail{
      display: flex;
      justify-content: center;
      align-items: center;
      span {
          color: $pillGray;
      }
    }
  }
  .d-detail {
    .detail {
      span {
        font-weight: bold;
        color: #292929;
      }
    }
  }
  .thead{
    .head{
      padding: 8px 0;
      background-color: $firstColor;
      height: 55px;
      border-left: 1px solid #fff;
      &:first-child{
        border-radius: 0 10px 0 0;
      }
      &:last-child{
        border-radius: 10px 0 0 0;
        border-left: none!important;
      }
    }
  }
  .data-detail{
    .d-detail{
      &:nth-child(odd){
        .detail{
          background-color: #f0f0f0;
          border-left: 1px solid #fff;
          &:last-child{
            border-left: none !important;
          }
        }
      }
      &:nth-child(even){
        .detail{
          background-color: #f5f5f5;
        }
      }
      .detail{
        height: 55px;
        .actioncall{
          border-radius: 8px;
        }
      }
    }
  }
}

//component tooltip custom => amir.qn
.tooltipcustom {
  position: relative;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  .left {
    &:hover {
      transform: translateX(-10px);
    }
  }

  .top {
    &:hover {
      transform: translateY(-6px);
    }
  }

  .bottom {
    &:hover {
      transform: translateY(6px);
    }
  }

  .right {
    &:hover {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
  }

  .s-tooltip {
    width: max-content;
    height: max-content;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #eaeaea;
    color: #fff;
    position: absolute;
    left: -8px;
    top: -29px;
    visibility: hidden;
    z-index: 13;
    opacity: .40;
    text-align: center;
    transform: translateY(9px);
    // border: 1px solid #090026;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 4px rgba(225, 225, 225, 0.86);
    font-size: 14px;

    span{
      color: #090026 !important;
    }


    &::after {
      content: " ";
      width: 0;
      height: 0;
      border-style: solid;
      border-color: #fff;
      border-width: 6px 6px 0 6px;
      border-color: #eaeaea transparent transparent transparent;
      position: absolute;
      bottom: -6px;
      left: 12px;
    }
  }

  .s-tooltip.topright_tooltip {
    left: 28px;
    top: -5px;

    &::after {
      border-color: transparent #eaeaea transparent transparent;
      bottom: 3px;
      left: -12px;
    }
  }

  .s-tooltip.bottom_tooltip {
    top: 27px;
    transform: translateY(5px);

    &::after {
      border-color: transparent transparent transparent #eaeaea;
      bottom: 25px;
      left: 28px;
    }
  }

  &:hover {
    .s-tooltip {
      visibility: visible;
      transform: translateY(-4px);
      opacity: 1;
      transition: .3s linear;
      animation: odsoky 1s ease-in-out infinite alternate;
      position: absolute;
    }
  }
}

//component scroller
.scroller {
  overflow-y: auto;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 3px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 5px #f0f0f0;
    // box-shadow: inset 0 0 5px #212e47;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #090026;
    border-radius: 10px;
  }
}

.scroller-transparent {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px transparent;
    box-shadow: inset 0 0 5px transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

@media only screen and (max-width: 800px) {
  .isDesktop {
    display: none !important;
  }
  .left-border-line {
    display: none;
  }
  .text-show-m {
    display: block !important;
  }
  .tour-item {
    flex-wrap: wrap !important;
    height: auto !important;
    padding: 0;
  }
  .tour-city {
    width: 100% !important;
    padding-right: 10px;
    padding-left: 5px;
    padding-top: 13px;
  }
  .type {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
  }
  .tour-days {
    padding-right: 10px;
    padding-top: 10px;
  }
  .tour-night {
    padding-top: 10px;
    padding-left: 10px;
  }
  .ino-tour-btn {
    border-radius: $radius-btn !important;
    height: 55px !important;
    margin-top: 1rem !important;
    width: 100% !important;
  }
  .m-main-data {
    flex-direction: column !important;
    align-items: start !important;
  }
  .val {
    span {
      padding-right: 10px;
    }
  }
  .d-detail {
    height: auto !important;
    justify-content: space-around;
    .c-detail {
      flex: 0 0 46% !important;
      max-width: 46% !important;
      margin-left: 0 !important;
      margin-bottom: 15px;
      &:first-child {
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }
    }
    .child-number,
    .info-price {
      box-shadow: 0 0 5px #cecece;
      height: 100px;
      border-radius: 10px;
    }
    .request-data {
      flex: 0 0 100%;
      max-width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 5px;
    }
  }
  .gallery-image {
    .image {
      img {
        height: 220px;
      }
    }
  }
  .p-info__tour {
    margin-top: 20px;
    .c-info__tour {
      &:nth-child(3) {
        flex-direction: row !important;
      }
    }
  }
  .vertical-data {
    display: block !important;
    width: 4%;
    height: 250px;
    border-right: 2px dashed #e0e0e0;
    border-top: 2px dashed $base-color-1;
    border-bottom: 2px dashed $base-color-2;
    position: absolute;
    top: 100px;
  }
  .border-box {
    display: none;
  }
    //style => amir.qn for ...
    .hotel-list {
      .c-hotel {
        .detail-hotel {
          height: auto;
        }
      }
    }
}
