.icon-plane-departure:before {
    content: '\e813';
}
.icon-villa:before{
    content: '\e821';
}
.icon-blog:before{
    content: '\e800';
}
.icon-refrence:before{
    content: '\e817';
}
.icon-login:before{
    content: '\e80d';
}
.icon-register:before{
    content: '\e818';
}
.icon-phone:before{
    content: '\e812';
}
.icon-calendar:before{
    content:'\e801';
}
.fa-exchange-alt:before {
    content: '\f362';
}
.icon-seat:before {
    content: '\e81b';
}
.icon-clock:before {
    content: '\e802';
}