//@import './global.style.scss';
@import './values.module.scss';

.loading-row{
    div{
        box-shadow:  -5px 5px 0px rgba(0, 0, 0, 0),0 0 10px rgba(152, 152, 152, 0.12);
        margin: 5px;
        border-radius: 5px;
        border:1px solid #f9f9f9;
        padding: 10px;
        p{
            line-height: 40px;
        }
    }
   
}
