$firstColor: #090026;
@media only screen and (max-width: 1025px) {
  .manager-nav-main-container {
    right: -280px;
  }
  .manager-small-screen-top-bar {
    display: block;
  }
}
@media only screen and (max-width: 2000px) and (min-width: 1025px) {
  .manager-nav-main-container {
    width: 13%;
    right: 0;
  }
  .manager-small-screen-top-bar {
    display: none;
  }
}

@media only screen and (max-width: 1536px){
  .manager-nav-main-container{
    width: 19%;
  }
}

@media only screen and (max-width: 768px){
  .manager-nav-main-container{
    width: 60%;
    margin-top: 40px;
  }
}

.manager-small-screen-top-bar {
  width: 100%;
  height: 40px;
  background-color: #e2e2e2;
  position: fixed;
  top: 0;
  z-index: 1000;
  svg {
    float: right;
    margin: 9px;
    font-size: 18px;
  }
}

.manager-nav-main-container {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $firstColor;
  z-index: 999;
  transition-property: right;
  transition-duration: 0.5s;
  height: 100vh;
  overflow-y: auto;
  direction: ltr;
  .manager-nav-header {
    border-bottom: 1px solid #dbdbdb;
    padding: 4px;
    padding-right: 7px;
    margin-bottom: 10px;
    background-color: #f8f8f8;
    margin: 7px;
    margin-bottom: 0;
    border-radius: 5px;
    img {
      // margin: auto;
      width: 63px;
      height: 46px;
    }
  }
  .manager-nav-one-row {
    padding: 7px 15px 5px 15px;
    text-align: right;
    border-bottom: 1px solid #dbdbdb;
    background-color: #f8f8f8;
    margin: 0 7px;
    margin-bottom: 5px;
    border-radius: 5px;
    svg {
      margin-top: 5px;
      font-size: 22px;
      color: #7b7b7b;
      margin-left: 15px;
      margin-bottom: 2px;
    }
    div {
      display: inline-block;
    }
  }
}

.slidein-manager {
  right: 0 !important;
}