.messagebox {
  position: absolute;
  background-color: skyblue;
  border: 1px solid rgb(8, 99, 173);
  border-radius: 5px;
  box-shadow: -3px 3px 26px -9px rgba(0, 0, 0, 0.67);
  width: 100%;
  bottom: 0px;
  z-index: 10000000;
  padding: 5px;
  text-align: center;
  height: 60px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.messagebox span {
  position: relative;
  top: 10px;
}
.messagebox-hidden {
  display: none;
}

.messagebox-show {
  display: block;
}
