@import './values.module.scss';

.container-flight-list-mobile{
    padding: 10px 18px;
    width: 100%;
    .mobile-flight-list-header{
        padding: 5px;
        text-align: center;
        font-size: 14px;
        margin-top: 5px;
        p{
            margin:0 !important;
        }
    }
}
.mobile-flight-list-one-row{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border:1px solid #e7e7e7;
    margin-top: 5px;
    padding: 7px 0px;
    .mobile-one-row-price{
        font-size: 12px;

        svg{
            margin-left: 5px;
        }
    }
    .mobile-one-row-provider{
        img{
            width:26px;
            height:25px;
        }
        span{
            margin-right: 5px;
            font-size: 13px;
            color: $blackColor;
            font-family: IranBold;
        }
    }
    .mobile-one-row-flight-number{
        margin-top: 8px;
        font-size: 12px;
        span{
            color: $blackColor;
        }
    }
    .mobile-one-row-time,.mobile-one-row-cap{
        text-align: right;
        span{
            font-size: 12px;
           
        }
        i{
            margin: 3px 0 0 5px;
            font-size: 20px;
        }
    }
    .mobile-one-row-cap span{
        font-size: 12px;
        color: $blackColor;
    }
}