@import "./values.module.scss";

@media only screen and (max-width: 320px) {
  .mobile-flight-list-one-row {
    height: 107px !important;
    max-width: 310px;
  }
}

@media only screen and (max-width: 375px) {
  .mobile-flight-list-one-row {
    height: 107px;
    max-width: 340px !important;
    margin-right: -20px !important;
  }
}
@media only screen and (max-width: 412px) {
  .mobile-flight-list-one-row {
    height: 107px;
    max-width: 390px !important;
    margin-right: -41px !important;
    text-align: center;
    display: grid;
    border-radius: 3px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border: 1px solid #e7e7e7;
    margin-top: 5px;
    padding: 7px 0px;
  }
}
@media only screen and (max-width: 440px) {
  .mobile-flight-list-one-row {
    text-align: center;
    display: grid;
    border-radius: 3px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border: 1px solid #e7e7e7;
    margin-top: 5px;
    margin-right: -38px !important;
    padding: 7px 0px;
    height: 150px;
    width: 375px;
  }
}

@media only screen and (min-width: 441px) and (max-width: 868px) {
  .mobile-flight-list-one-row {
    text-align: center;
    display: grid;
    border-radius: 3px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border: 1px solid #e7e7e7;
    margin-top: 5px;
    margin-right: -33px;
    padding: 7px 0px;
    height: 100px;
    width: 100px !important;
  }
}
// .flightlist {
//   border: 1px solid #eee;
//   margin-top: 10px;
// }
// .flightlist-items {
//   margin-top: 10px;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
// }
// .price {
//   text-align: center;
// }
// .button {
//   margin-top: 15px;
// }

.container-flight-list-mobile {
  padding: 10px 18px;
  width: 100%;
  .mobile-flight-list-header {
    padding: 5px;
    text-align: center;
    font-size: 14px;
    margin-top: 25px;
    p {
      margin: 0 !important;
    }
  }
}
.mobile-flight-list-one-row {
  text-align: center;
  display: grid;
  border-radius: 3px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border: 1px solid #e7e7e7;
  margin-top: 5px;
  margin-right: -33px;
  padding: 7px 0px;
  height: 100px;
  width: 370px;
  .mobile-one-row-price {
    font-size: 12px;
    margin-top: 8px;
    svg {
      margin-left: 5px;
    }
  }
  .mobile-one-row-provider {
    margin-top: 8px;
    img {
      width: 26px;
      height: 25px;
    }
    span {
      margin-right: 5px;
      font-size: 13px;
      color: $blackColor;
      font-family: IranBold;
    }
  }
  .mobile-one-row-flight-number {
    margin-top: 8px;
    font-size: 12px;
    span {
      color: $blackColor;
    }
  }
  .mobile-one-row-time {
    margin-top: 5px;
    text-align: right;
    margin-right: 10px;
    span {
      font-size: 12px;
    }
    i {
      margin: 3px 0 0 5px;
      font-size: 20px;
    }
  }
  .mobile-one-row-cap {
    margin-top: 10px;
    span {
      font-size: 12px;
    }
    i {
      margin: 3px 0 0 5px;
      font-size: 20px;
    }
  }
  .mobile-one-row-cap span {
    font-size: 12px;
    color: $blackColor;
  }
}
