@import  './values.module.scss';
@media only screen and (max-width : 826px){
    .navVar{
        grid-template-columns:auto;
        grid-template-rows: 1fr;
        grid-template-areas: "logo";
    }
    .nav-text-detail,.nav-items-container{
        display: none !important;

    }
    .nav-logo-container{
        div{
            float: right !important;
        }

    }
}
@media only screen and (max-width : 1259px) and (min-width :827px){

    .navVar{
        grid-template-columns:  1.9fr 8.1fr 3.2fr;
        grid-template-rows: 1fr;
        grid-template-areas: "logo items detail";
        .nav-text-detail{
            // grid-template-columns: 4fr 10fr;
            grid-template-rows: auto;
            gap: 2px;
            .nav-detail-first-line{
                // grid-template-columns:1fr 1fr;
                grid-template-rows: auto;
                gap: 5px;
            }

        }
    }
    // .nav-text-detail{
    //     display: none !important;
    // }
}
@media only screen and (max-width : 2000px) and (min-width :1260px){
    .navVar{
        grid-template-columns:  1.4fr 9.3fr 2.4fr;
        grid-template-rows: 1fr;
        grid-template-areas: "logo items detail";

    }
    .nav-text-detail{
        grid-template-columns: 4fr 11fr;
        grid-template-rows: auto;
        gap: 4px;
        .nav-detail-first-line{
            // grid-template-columns:1fr 1fr;
            grid-template-rows: auto;
            gap: 5px;
        }

    }
}
@media only screen and (max-width : 1020px) and (min-width :820px){
    .navVar{
        padding:15px 20px 15px 20px !important;
    }
}
.navbar{
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    .navVar{
        // display: flex !important;
        flex-direction: row-reverse;
        padding:15px 120px 15px 120px;
        width: 100%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        height: 100px !important;
        background-color: $whiteColor;


    }
}

.nav-text-detail{
    text-align: center;
    display: grid;
    grid-area: detail;
    padding: 1px;
    // & > div:first-child{
    //     margin: 10px 2px;
    // }
    div.font-size-12{
        margin:6px 15px 10px 0;
    }
    .nav-detail-first-line{
        display: grid;
        border-bottom: solid 1px $pillGray;
        padding: 7px 0px 3px 0;
        span{
            margin-right: 5px;
        }

    }
    .nav-detail-second-line{
        margin-top: 8px;
        i{
            margin-right: 3px;
        }
    }
    i{
        font-size: 14px;
    }
}

.navbar-items{
    list-style: none;
    margin-right: 30px;
    padding: 15px 10px 0 0 ;
    li{
        float: right;
        padding: 0 10px;
        text-align: center;
        // border-left:solid 1px $pillGray ;
        min-width: 85px;
        height: 57.85px;
        font-weight: 400;
        &:last-child{
            border-left: none !important;
        }
    }
    a {
        display: inline-block;
        margin-right: 5px;
        font-size: 12px !important;
        margin-top: 2px;
        color: #363535 !important;
    }
}
.nav-icon{
    display: block;
    margin:0px auto 0 auto;
    text-align: center;
    font-size: 25px;
}



.nav-logo-container{
    text-align: center;
    grid-area: logo;
    p{
        margin-top: -5px;
    }
    .logo{
        width:70px;
        height: auto;
        margin: 5px auto;
    }
}

.nav-items-container{
    grid-area:items;
    .navbar-items{
        li{
            &:hover{
                svg{
                    path,circle,rect{
                        stroke: #ff0000;
                    }
                }
            }
        }
    }
}

.border-right{
    border-right: 10px solid $pillGray;
}
.btn-nav-hosting{
    display: block;
    margin-top: 20px;
}
