@import "./values.module.scss";
.pop-up-flight-reserve-box {
  text-align: center;
  p {
    margin-bottom: 9px !important;
  }
  .pop-up-flight-detail-reserve-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-template-rows: 1fr;
    padding: 7px 4px 4px 4px;
    border: 1px solid $pillGray;
    border-radius: 15px;
    margin-top: 10px;
    i {
      font-size: 29px;
    }
    span {
      display: inline-block;
      font-weight: 700;
      margin: auto;
    }
  }
  .pop-up-flight-passengers-reserve-box {
    text-align: right;
    padding: 10px 0;

    span {
      display: inline-block;
      margin-top: 10px;
      margin-right: 5px;
    }
  }
}
