@import "./values.module.scss";
.primary-button {
  height: 100%;
  width: 100%;
  background-color: #e20000;
  border-radius: $borderRadius;
  color: $whiteColor !important;
  outline: initial !important;
  border: solid 2px #e20000;
  &:hover {
    background-color: white;
    color: #e20000 !important;
  }
}
.disable-button {
  height: 100%;
  width: 100%;
  background-color: $disabledBtn;
  border-radius: $borderRadius;
  color: $whiteColor !important;
  outline: initial !important;
  border: solid 2px #e20000;
  &:hover {
    background-color: $disabledBtn;
    color: $whiteColor !important;
  }
}
