@import "./values.module.scss";
.primary-text {
  border-radius: $borderRadius;
  font-size: 15px;
  padding: 10px;
  color: $blackColor;
}

.primary-text::placeholder {
  color: #c5c5c5 !important;
}
.primary-text::-moz-placeholder {
  color: #c5c5c5 !important;
}
.primary-text::-webkit-input-placeholder {
  font-size: 20px !important;
  line-height: 3 !important;
  color: red;
}
// .PrimaryTextInput::-webkit-input-placeholder{
//     font-size: 20px !important;
//     line-height: 3 !important;
//     color: red;
// }
