.track-order-title{
    svg{
        margin-left: 5px;
    }
}
.height-short-input{
    height: 31px;
}
.track-order-second-title{
    margin-top: 10px;
    margin-bottom: 0 !important;
}
.border-bottom-black-track{
    width:99.9%;
    margin: 0 auto;
    padding-bottom:10px;
    border-bottom: 1px solid black;
}