$pillGray :#dee2e6;
$pillTextGray :#888;
$whiteColor : #fff;
$blackColor : #000;
$primaryColor: #279692;
$firstColor: #090026;
$secondaryColor:#ff0000;
$blackBackground:#333;
$borderRadius : 0.25rem;
