$pillGray :#dee2e6;
$pillTextGray : #646464;
$whiteColor : #fff;
$blackColor : #000;
$primaryColor: #279692;
$firstColor: #090026;
$secondaryColor:#e20000;
$blackBackground:#333;
$borderRadius : 0.25rem;
